/*!
Theme Name: nina
Theme URI: http://underscores.me/
Author: Marko Bajlovic
Author URI: http://marko.tech
Description: theme for ninaberlingeri.com
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: nina
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

nina is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/*,:after,:before,html{box-sizing:border-box}img,legend{border:0}legend,td,th{padding:0}pre,textarea{overflow:auto}.button,.flex-direction-nav a,.main-navigation a,.vevent abbr,a,button,ins,mark{text-decoration:none}embed,iframe,img,object,pre{max-width:100%}.hide,.invisible{visibility:hidden}h1,h2,h3,h4,h5,h6,p{text-rendering:optimizeLegibility}cite,dfn,em,i,p aside{font-style:italic}.split.button.large span:after,.split.button.small span:after,.split.button.tiny span:after{top:48%;margin-left:-.375rem;border-top-style:solid}.aligncenter,.clear:after,.clearfix:after,.comment-content:after,.entry-content:after,.flexslider .slides:after,.main-navigation,.row .row.collapse:after,.row .row:after,.site-content:after,.site-footer:after,.site-header:after,[class*=block-grid-]:after,h1,h2,h3,h4,h5,h6,hr{clear:both}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent;color:#1b1b1b}mark{color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;background-color:#ccc}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}textarea{padding-left:3px;width:100%}dt,optgroup{font-weight:700}body,button,input,select,textarea{color:#404040;font-family:Rokkitt,serif;font-size:16px;font-size:1rem;line-height:1.5}address{margin:0 0 1.5em}pre{background:#eee;font-size:.9375rem;line-height:1.6}code,kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:15px;font-size:.9375rem}ins,mark{background:#fff9c0}big{font-size:125%}body{background:#fff}blockquote,q{quotes:"" ""}blockquote:after,blockquote:before,q:after,q:before{content:""}ul{list-style:disc}ol{list-style:decimal}li>ol,li>ul{margin-bottom:0;margin-left:1.5em}table{border-collapse:collapse;border-spacing:0;margin:0 0 1.5em;width:100%}button,input[type=button],input[type=reset],input[type=submit]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;box-shadow:inset 0 1px 0 rgba(255,255,255,.5),inset 0 15px 17px rgba(255,255,255,.5),inset 0 -5px 12px rgba(0,0,0,.05);color:rgba(0,0,0,.8);font-size:12px;font-size:.75rem;line-height:1;padding:.6em 1em .4em;text-shadow:0 1px 0 rgba(255,255,255,.8)}button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover{border-color:#ccc #bbb #aaa;box-shadow:inset 0 1px 0 rgba(255,255,255,.8),inset 0 15px 17px rgba(255,255,255,.8),inset 0 -5px 12px rgba(0,0,0,.02)}button:active,button:focus,input[type=button]:active,input[type=button]:focus,input[type=reset]:active,input[type=reset]:focus,input[type=submit]:active,input[type=submit]:focus{border-color:#aaa #bbb #bbb;box-shadow:inset 0 -1px 0 rgba(255,255,255,.5),inset 0 2px 5px rgba(0,0,0,.15)}input[type=text],input[type=email],input[type=url],input[type=password],input[type=tel],input[type=range],input[type=date],input[type=month],input[type=week],input[type=time],input[type=datetime],input[type=datetime-local],input[type=color],input[type=number],input[type=search],textarea{color:#666;border:1px solid #ccc;border-radius:3px}input[type=text]:focus,input[type=email]:focus,input[type=url]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=range]:focus,input[type=date]:focus,input[type=month]:focus,input[type=week]:focus,input[type=time]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=color]:focus,input[type=number]:focus,input[type=search]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}input[type=text],input[type=email],input[type=url],input[type=password],input[type=tel],input[type=range],input[type=date],input[type=month],input[type=week],input[type=time],input[type=datetime],input[type=datetime-local],input[type=color],input[type=number],input[type=search]{padding:3px}a:visited{color:#777}a:active,a:focus,a:hover{color:#414141}a:focus{outline:dotted thin}#content[tabindex="-1"]:focus,.flex-container a:hover,.flex-slider a:hover,a:active,a:hover{outline:0}.site-branding{padding:.9375rem;line-height:1}.site-branding h2{margin:0;line-height:1.1;color:#1b1b1b}.site-branding .site-description{margin-bottom:15px}.site-branding #site-navigation{margin-bottom:10px}.archive-by-year{margin-bottom:100px}.archive-by-year ul{margin:0}.archive-by-year ul li{list-style:none;font-weight:700;font-size:20px;margin-right:20px;float:left}.main-navigation{display:block;float:left;width:100%}.main-navigation ul{list-style:none;margin:0;padding-left:0}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,.2);float:left;position:absolute;top:1.5em;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li.focus>ul,.main-navigation ul ul li:hover>ul{left:100%}.main-navigation ul ul a{width:200px}.main-navigation ul li.focus>ul,.main-navigation ul li:hover>ul{left:auto}.main-navigation li{float:left;position:relative}.main-navigation a{display:block;color:#1b1b1b;margin-right:15px}.site-main .comment-navigation,.site-main .post-navigation,.site-main .posts-navigation{margin:0 0 1.5em;overflow:hidden}.comment-navigation .nav-previous,.post-navigation .nav-previous,.posts-navigation .nav-previous{float:left;width:50%}.comment-navigation .nav-next,.post-navigation .nav-next,.posts-navigation .nav-next{float:right;text-align:right;width:50%}.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{display:block;margin-left:auto;margin-right:auto}.clear:after,.clear:before,.comment-content:after,.comment-content:before,.entry-content:after,.entry-content:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before,.site-header:after,.site-header:before{content:"";display:table;table-layout:fixed}.sticky{display:block}.hentry{margin:0 0 1.5em}.byline,.updated:not(.published){display:none}.group-blog .byline,.single .byline{display:inline}.entry-content h4.entry-title{margin-bottom:0}.flexslider .slides{margin:0;float:left;zoom:1}.comment-content .wp-smiley,.entry-content .wp-smiley,.page-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}@font-face{font-family:flexslider-icon;src:url(fonts/flexslider-icon.eot);src:url(fonts/flexslider-icon.eot?#iefix)format("embedded-opentype"),url(fonts/flexslider-icon.woff)format("woff"),url(fonts/flexslider-icon.ttf)format("truetype"),url(fonts/flexslider-icon.svg#flexslider-icon)format("svg");font-weight:400;font-style:normal}.flex-control-nav,.flex-direction-nav,.slides,.slides>li{margin:0;padding:0;list-style:none}.flex-pauseplay span{text-transform:capitalize}.flexslider{padding:0;margin:0 0 60px;background:#fff;border:4px solid #fff;position:relative;zoom:1;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:"" 0 1px 4px rgba(0,0,0,.2);-moz-box-shadow:"" 0 1px 4px rgba(0,0,0,.2);-o-box-shadow:"" 0 1px 4px rgba(0,0,0,.2);box-shadow:"" 0 1px 4px rgba(0,0,0,.2)}.flexslider .slides>li{display:none;-webkit-backface-visibility:hidden}.flexslider .slides:after{content:"\0020";display:block;visibility:hidden;line-height:0;height:0}html[xmlns] .flexslider .slides{display:block}* html .flexslider .slides{height:1%}.no-js .flexslider .slides>li:first-child{display:block}.flexslider .slides img{display:block;height:auto;-moz-user-select:none}.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-ms-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}.loading .flex-viewport{max-height:300px}.carousel li{margin-right:5px}.flex-direction-nav a{display:block;width:40px;height:40px;margin:-20px 0 0;position:absolute;top:50%;z-index:10;overflow:hidden;opacity:0;cursor:pointer;color:rgba(0,0,0,.8);text-shadow:1px 1px 0 rgba(255,255,255,.3);-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}.flex-direction-nav a:before{font-family:flexslider-icon;font-size:32px;display:inline-block;content:'\f001';color:rgba(0,0,0,.8);text-shadow:1px 1px 0 rgba(255,255,255,.3)}.flex-direction-nav a.flex-next:before{content:'\f002'}.flex-direction-nav .flex-prev{left:-50px}.flex-direction-nav .flex-next{right:-50px;text-align:right}.flexslider:hover .flex-direction-nav .flex-prev{opacity:.7;left:15px}.flexslider:hover .flex-direction-nav .flex-prev:hover{opacity:1}.flexslider:hover .flex-direction-nav .flex-next{opacity:.7;right:15px}.flexslider:hover .flex-direction-nav .flex-next:hover{opacity:1}.flex-direction-nav .flex-disabled{opacity:0!important;filter:alpha(opacity=0);cursor:default;z-index:-1}.flex-pauseplay a{display:block;width:20px;height:20px;position:absolute;bottom:5px;left:10px;opacity:.8;z-index:10;overflow:hidden;cursor:pointer;color:#000}.flex-pauseplay a:before{font-family:flexslider-icon;font-size:20px;display:inline-block;content:'\f004'}.flex-pauseplay a:hover{opacity:1}.flex-pauseplay a.flex-play:before{content:'\f003'}.row .row.collapse:after,.row .row.collapse:before,.row .row:after,.row .row:before,.row:after,.row:before{display:table;content:" "}.flex-control-nav{width:100%;position:absolute;bottom:-40px;text-align:center}.flex-control-nav li{margin:0 6px;display:inline-block;zoom:1}.flex-control-paging li a{width:11px;height:11px;display:block;background:#666;background:rgba(0,0,0,.5);cursor:pointer;text-indent:-9999px;-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 0 3px rgba(0,0,0,.3);-o-box-shadow:inset 0 0 3px rgba(0,0,0,.3);box-shadow:inset 0 0 3px rgba(0,0,0,.3);-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px}.flex-control-paging li a:hover{background:#333;background:rgba(0,0,0,.7)}.flex-control-paging li a.flex-active{background:#000;background:rgba(0,0,0,.9);cursor:default}.flex-control-thumbs{margin:5px 0 0;position:static;overflow:hidden}.button,.split.button,body,button{position:relative}.flex-control-thumbs li{width:25%;float:left;margin:0}.flex-control-thumbs img{width:100%;height:auto;display:block;opacity:.7;cursor:pointer;-moz-user-select:none;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-ms-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}.flex-control-thumbs img:hover{opacity:1}.flex-control-thumbs .flex-active{opacity:1;cursor:default}@media screen and (max-width:860px){.flex-direction-nav .flex-prev{opacity:1;left:10px}.flex-direction-nav .flex-next{opacity:1;right:10px}}meta.foundation-version{font-family:"/5.5.0/"}meta.foundation-mq-small{font-family:"/only screen/";width:0}meta.foundation-mq-small-only{font-family:"/only screen and (max-width: 40em)/";width:0}meta.foundation-mq-medium{font-family:"/only screen and (min-width:40.063em)/";width:40.063em}meta.foundation-mq-medium-only{font-family:"/only screen and (min-width:40.063em) and (max-width:64em)/";width:40.063em}meta.foundation-mq-large{font-family:"/only screen and (min-width:64.063em)/";width:64.063em}meta.foundation-mq-large-only{font-family:"/only screen and (min-width:64.063em) and (max-width:90em)/";width:64.063em}meta.foundation-mq-xlarge{font-family:"/only screen and (min-width:90.063em)/";width:90.063em}meta.foundation-mq-xlarge-only{font-family:"/only screen and (min-width:90.063em) and (max-width:120em)/";width:90.063em}meta.foundation-mq-xxlarge{font-family:"/only screen and (min-width:120.063em)/";width:120.063em}.row,select{width:100%}meta.foundation-data-attribute-namespace{font-family:false}body,html{height:100%;font-size:100%}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box}body{padding:0;margin:0;cursor:auto}.button,a:hover,button{cursor:pointer}img{height:auto;-ms-interpolation-mode:bicubic}#map_canvas embed,#map_canvas img,#map_canvas object,.map_canvas embed,.map_canvas img,.map_canvas object{max-width:none!important}.left{float:left!important}.right{float:right!important}.clearfix:after,.clearfix:before{content:" ";display:table}.hide{display:none!important}.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}img{display:inline-block;vertical-align:middle}textarea{height:auto;min-height:50px}.row{margin:0 auto;max-width:67.5rem}.row:after{clear:both}.row.collapse>.column,.row.collapse>.columns{padding-left:0;padding-right:0}.row.collapse .row{margin-left:0;margin-right:0}.row .row{width:auto;margin:0 -.9375rem;max-width:none}.row .row.collapse{width:auto;margin:0;max-width:none}.column,.columns{padding-left:.9375rem;padding-right:.9375rem;width:100%;float:left}[class*=column]+[class*=column]:last-child{float:right}[class*=column]+[class*=column].end{float:left}@media only screen{.column,.columns{position:relative;padding-left:.9375rem;padding-right:.9375rem;float:left}.small-1{width:8.33333%}.small-2{width:16.66667%}.small-3{width:25%}.small-4{width:33.33333%}.small-5{width:41.66667%}.small-6{width:50%}.small-7{width:58.33333%}.small-8{width:66.66667%}.small-9{width:75%}.small-10{width:83.33333%}.small-11{width:91.66667%}.small-12{width:100%}.small-reset-order{margin-left:0;margin-right:0;left:auto;right:auto;float:left}.column.small-centered,.columns.small-centered{margin-left:auto;margin-right:auto;float:none}.column.small-uncentered,.columns.small-uncentered{margin-left:0;margin-right:0;float:left}.column.small-centered:last-child,.columns.small-centered:last-child{float:none}.column.small-uncentered:last-child,.columns.small-uncentered:last-child{float:left}.column.small-uncentered.opposite,.columns.small-uncentered.opposite{float:right}.row.small-collapse>.column,.row.small-collapse>.columns{padding-left:0;padding-right:0}.row.small-collapse .row{margin-left:0;margin-right:0}.row.small-uncollapse>.column,.row.small-uncollapse>.columns{padding-left:.9375rem;padding-right:.9375rem;float:left}}@media only screen and (min-width:40.063em){.column,.columns{position:relative;padding-left:.9375rem;padding-right:.9375rem;float:left}.medium-1{width:8.33333%}.medium-2{width:16.66667%}.medium-3{width:25%}.medium-4{width:33.33333%}.medium-5{width:41.66667%}.medium-6{width:50%}.medium-7{width:58.33333%}.medium-8{width:66.66667%}.medium-9{width:75%}.medium-10{width:83.33333%}.medium-11{width:91.66667%}.medium-12{width:100%}.medium-reset-order{margin-left:0;margin-right:0;left:auto;right:auto;float:left}.column.medium-centered,.columns.medium-centered{margin-left:auto;margin-right:auto;float:none}.column.medium-uncentered,.columns.medium-uncentered{margin-left:0;margin-right:0;float:left}.column.medium-centered:last-child,.columns.medium-centered:last-child{float:none}.column.medium-uncentered:last-child,.columns.medium-uncentered:last-child{float:left}.column.medium-uncentered.opposite,.columns.medium-uncentered.opposite{float:right}.row.medium-collapse>.column,.row.medium-collapse>.columns{padding-left:0;padding-right:0}.row.medium-collapse .row{margin-left:0;margin-right:0}.row.medium-uncollapse>.column,.row.medium-uncollapse>.columns{padding-left:.9375rem;padding-right:.9375rem;float:left}}@media only screen and (min-width:64.063em){.column,.columns{position:relative;padding-left:.9375rem;padding-right:.9375rem;float:left}.large-1{width:8.33333%}.large-2{width:16.66667%}.large-3{width:25%}.large-4{width:33.33333%}.large-5{width:41.66667%}.large-6{width:50%}.large-7{width:58.33333%}.large-8{width:66.66667%}.large-9{width:75%}.large-10{width:83.33333%}.large-11{width:91.66667%}.large-12{width:100%}.large-reset-order{margin-left:0;margin-right:0;left:auto;right:auto;float:left}.column.large-centered,.columns.large-centered{margin-left:auto;margin-right:auto;float:none}.column.large-uncentered,.columns.large-uncentered{margin-left:0;margin-right:0;float:left}.column.large-centered:last-child,.columns.large-centered:last-child{float:none}.column.large-uncentered:last-child,.columns.large-uncentered:last-child{float:left}.column.large-uncentered.opposite,.columns.large-uncentered.opposite{float:right}.row.large-collapse>.column,.row.large-collapse>.columns{padding-left:0;padding-right:0}.row.large-collapse .row{margin-left:0;margin-right:0}.row.large-uncollapse>.column,.row.large-uncollapse>.columns{padding-left:.9375rem;padding-right:.9375rem;float:left}}.inline-list{margin:0 0 1.0625rem -1.375rem;padding:0;list-style:none;overflow:hidden}.inline-list>li{list-style:none;float:left;margin-left:1.375rem;display:block}.inline-list>li>*{display:block}.button,button{border-style:solid;border-width:0;margin:0 0 1.25rem;text-align:center;-webkit-appearance:none;border-radius:0;display:inline-block;padding:1rem 2rem 1.0625rem;border-color:#007095;color:#FFF;transition:background-color 300ms ease-out}.button:focus,.button:hover,button:focus,button:hover{background-color:#007095;color:#FFF}.button.secondary,button.secondary{background-color:#e7e7e7;border-color:#b9b9b9;color:#333}.button.secondary:focus,.button.secondary:hover,button.secondary:focus,button.secondary:hover{background-color:#b9b9b9;color:#333}.button.success,button.success{background-color:#43AC6A;border-color:#368a55;color:#FFF}.button.success:focus,.button.success:hover,button.success:focus,button.success:hover{background-color:#368a55;color:#FFF}.button.alert,button.alert{background-color:#f04124;border-color:#cf2a0e;color:#FFF}.button.alert:focus,.button.alert:hover,button.alert:focus,button.alert:hover{background-color:#cf2a0e;color:#FFF}.button.warning,button.warning{background-color:#f08a24;border-color:#cf6e0e;color:#FFF}.button.warning:focus,.button.warning:hover,button.warning:focus,button.warning:hover{background-color:#cf6e0e;color:#FFF}.button.info,button.info{background-color:#a0d3e8;border-color:#61b6d9;color:#333}.button.info:focus,.button.info:hover,button.info:focus,button.info:hover{background-color:#61b6d9;color:#FFF}.button.large,button.large{padding:1.125rem 2.25rem 1.1875rem;font-size:1.25rem}.button.small,button.small{padding:.875rem 1.75rem .9375rem;font-size:.8125rem}.button.tiny,button.tiny{padding:.625rem 1.25rem .6875rem;font-size:.6875rem}.button.expand,button.expand{padding-right:0;padding-left:0;width:100%}.button.left-align,button.left-align{text-align:left;text-indent:.75rem}.button.right-align,button.right-align{text-align:right;padding-right:.75rem}.button.radius,button.radius{border-radius:3px}.button.round,button.round{border-radius:1000px}.button.disabled,.button[disabled],button.disabled,button[disabled]{border-color:#007095;color:#FFF;cursor:default;opacity:.7;box-shadow:none}.button.disabled:focus,.button.disabled:hover,.button[disabled]:focus,.button[disabled]:hover,button.disabled:focus,button.disabled:hover,button[disabled]:focus,button[disabled]:hover{background-color:#007095;color:#FFF}.button.disabled.secondary,.button[disabled].secondary,button.disabled.secondary,button[disabled].secondary{background-color:#e7e7e7;border-color:#b9b9b9;color:#333;cursor:default;opacity:.7;box-shadow:none}.button.disabled.secondary:focus,.button.disabled.secondary:hover,.button[disabled].secondary:focus,.button[disabled].secondary:hover,button.disabled.secondary:focus,button.disabled.secondary:hover,button[disabled].secondary:focus,button[disabled].secondary:hover{color:#333;background-color:#e7e7e7}.button.disabled.success,.button[disabled].success,button.disabled.success,button[disabled].success{background-color:#43AC6A;border-color:#368a55;color:#FFF;cursor:default;opacity:.7;box-shadow:none}.button.disabled.success:focus,.button.disabled.success:hover,.button[disabled].success:focus,.button[disabled].success:hover,button.disabled.success:focus,button.disabled.success:hover,button[disabled].success:focus,button[disabled].success:hover{color:#FFF;background-color:#43AC6A}.button.disabled.alert,.button[disabled].alert,button.disabled.alert,button[disabled].alert{background-color:#f04124;border-color:#cf2a0e;color:#FFF;cursor:default;opacity:.7;box-shadow:none}.button.disabled.alert:focus,.button.disabled.alert:hover,.button[disabled].alert:focus,.button[disabled].alert:hover,button.disabled.alert:focus,button.disabled.alert:hover,button[disabled].alert:focus,button[disabled].alert:hover{color:#FFF;background-color:#f04124}.button.disabled.warning,.button[disabled].warning,button.disabled.warning,button[disabled].warning{background-color:#f08a24;border-color:#cf6e0e;color:#FFF;cursor:default;opacity:.7;box-shadow:none}.button.disabled.warning:focus,.button.disabled.warning:hover,.button[disabled].warning:focus,.button[disabled].warning:hover,button.disabled.warning:focus,button.disabled.warning:hover,button[disabled].warning:focus,button[disabled].warning:hover{color:#FFF;background-color:#f08a24}.button.disabled.info,.button[disabled].info,button.disabled.info,button[disabled].info{background-color:#a0d3e8;border-color:#61b6d9;color:#333;cursor:default;opacity:.7;box-shadow:none}.button.disabled.info:focus,.button.disabled.info:hover,.button[disabled].info:focus,.button[disabled].info:hover,button.disabled.info:focus,button.disabled.info:hover,button[disabled].info:focus,button[disabled].info:hover{color:#FFF;background-color:#a0d3e8}button::-moz-focus-inner{border:0;padding:0}@media only screen and (min-width:40.063em){.button,button{display:inline-block}}blockquote,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,li,ol,p,pre,td,th,ul{margin:0;padding:0}.subheader,h1,h2,h3,h4,h5,h6{margin-top:.2rem;margin-bottom:.5rem}a{line-height:inherit}a:focus,a:hover{color:#0078a0}a img{border:none}p.lead{font-size:1.21875rem;line-height:1.6}p aside{font-size:.875rem;line-height:1.35}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-size:60%;color:#6f6f6f;line-height:0}dl,h6,ol,ul{font-size:1rem}h1{font-size:2.125rem}h2{font-size:1.6875rem}h3{font-size:1.375rem}h4,h5{font-size:1.125rem}.subheader{line-height:1.4;color:#6f6f6f;font-weight:400}b,em,i,small,strong{line-height:inherit}hr{border:solid #DDD;border-width:1px 0 0;margin:1.25rem 0 1.1875rem;height:0}b,strong{font-weight:700}small{font-size:60%}code,pre{font-family:Consolas,"Liberation Mono",Courier,monospace;font-weight:400;padding:0}.vevent .summary,.vevent abbr,dl dt{font-weight:700}dl,ol,ul{line-height:1.6;margin-bottom:1.25rem;list-style-position:outside;font-family:inherit}ul.no-bullet{margin-left:0}ul.no-bullet li ol,ul.no-bullet li ul{margin-left:1.25rem;margin-bottom:0;list-style:none}ul li ol,ul li ul{margin-left:1.25rem;margin-bottom:0}ul.circle,ul.disc,ul.square{margin-left:1.1rem}ul.circle li ul,ul.disc li ul,ul.square li ul{list-style:inherit}ul.square{list-style-type:square}ul.circle{list-style-type:circle}ul.disc{list-style-type:disc}ul.no-bullet{list-style:none}ol{margin-left:1.4rem}ol li ol,ol li ul{margin-left:1.25rem;margin-bottom:0}dl dt{margin-bottom:.3rem}dl dd{margin-bottom:.75rem}abbr,acronym{border-bottom:1px dotted #666;text-transform:uppercase;font-size:90%;color:#222;cursor:help}abbr{text-transform:none}abbr[title]{border-bottom:1px dotted #DDD}blockquote{margin:0 0 1.25rem;padding:.5625rem 1.25rem 0 1.1875rem;border-left:1px solid #DDD}blockquote cite{display:block;font-size:.8125rem;color:#555}blockquote cite:before{content:"\2014 \0020"}blockquote cite a,blockquote cite a:visited{color:#555}blockquote,blockquote p{line-height:1.6;color:#6f6f6f}.vevent abbr{cursor:default;border:none;padding:0 .0625rem}@media only screen and (min-width:40.063em){h1,h2,h3,h4,h5,h6{line-height:1.4}h1{font-size:2.75rem}h2{font-size:2.3125rem}h3{font-size:1.6875rem}h4{font-size:1.4375rem}h5{font-size:1.125rem}h6{font-size:1rem}}@media print{blockquote,img,pre,tr{page-break-inside:avoid}*{background:0 0!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href)")"}abbr[title]:after{content:" (" attr(title)")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}blockquote,pre{border:1px solid #999}thead{display:table-header-group}img{max-width:100%!important}@page{margin:.5cm}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}.hide-on-print{display:none!important}.print-only{display:block!important}.hide-for-print{display:none!important}.show-for-print{display:inherit!important}}.split.button{padding-right:5.0625rem}.split.button span{display:block;height:100%;position:absolute;right:0;top:0;border-left:solid 1px}.split.button span,.split.button.alert span,.split.button.secondary span,.split.button.success span{border-left-color:rgba(255,255,255,.5)}.split.button span:after{position:absolute;content:"";width:0;height:0;display:block;border-style:solid inset inset;left:50%;border-width:.375rem;top:48%;margin-left:-.375rem;border-color:#FFF transparent transparent}.split.button span:active{background-color:rgba(0,0,0,.1)}.split.button span{width:3.09375rem}.split.button.tiny{padding-right:3.75rem}.split.button.tiny span{width:2.25rem}.split.button.tiny span:after{border-width:.375rem}.split.button.small{padding-right:4.375rem}.split.button.small span{width:2.625rem}.split.button.small span:after{border-width:.4375rem}.split.button.large{padding-right:5.5rem}.split.button.large span{width:3.4375rem}.split.button.large span:after{border-width:.3125rem}.split.button.expand{padding-left:2rem}.split.button.secondary span:after{border-color:#333 transparent transparent}.split.button.radius span{-webkit-border-bottom-right-radius:3px;-webkit-border-top-right-radius:3px;border-bottom-right-radius:3px;border-top-right-radius:3px}.split.button.round span{-webkit-border-bottom-right-radius:1000px;-webkit-border-top-right-radius:1000px;border-bottom-right-radius:1000px;border-top-right-radius:1000px}.label{font-weight:400;font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;text-align:center;text-decoration:none;line-height:1;white-space:nowrap;display:inline-block;position:relative;margin-bottom:auto;padding:.25rem .5rem;font-size:.6875rem;color:#FFF}.label.radius{border-radius:3px}.label.round{border-radius:1000px}.label.alert{background-color:#f04124;color:#FFF}.label.warning{background-color:#f08a24;color:#FFF}.label.success{background-color:#43AC6A;color:#FFF}.label.secondary{background-color:#e7e7e7;color:#333}.label.info{background-color:#a0d3e8;color:#333}[class*=block-grid-]{display:block;padding:0;margin:0 -.625rem}[class*=block-grid-]:after,[class*=block-grid-]:before{content:" ";display:table}[class*=block-grid-]>li{display:block;height:auto;float:left;padding:0 .625rem 1.25rem}@media only screen{.small-block-grid-1>li{width:100%;list-style:none}.small-block-grid-1>li:nth-of-type(1n){clear:none}.small-block-grid-1>li:nth-of-type(1n+1){clear:both}.small-block-grid-2>li{width:50%;list-style:none}.small-block-grid-2>li:nth-of-type(1n){clear:none}.small-block-grid-2>li:nth-of-type(2n+1){clear:both}.small-block-grid-3>li{width:33.33333%;list-style:none}.small-block-grid-3>li:nth-of-type(1n){clear:none}.small-block-grid-3>li:nth-of-type(3n+1){clear:both}.small-block-grid-4>li{width:25%;list-style:none}.small-block-grid-4>li:nth-of-type(1n){clear:none}.small-block-grid-4>li:nth-of-type(4n+1){clear:both}.small-block-grid-5>li{width:20%;list-style:none}.small-block-grid-5>li:nth-of-type(1n){clear:none}.small-block-grid-5>li:nth-of-type(5n+1){clear:both}.small-block-grid-6>li{width:16.66667%;list-style:none}.small-block-grid-6>li:nth-of-type(1n){clear:none}.small-block-grid-6>li:nth-of-type(6n+1){clear:both}.small-block-grid-7>li{width:14.28571%;list-style:none}.small-block-grid-7>li:nth-of-type(1n){clear:none}.small-block-grid-7>li:nth-of-type(7n+1){clear:both}.small-block-grid-8>li{width:12.5%;list-style:none}.small-block-grid-8>li:nth-of-type(1n){clear:none}.small-block-grid-8>li:nth-of-type(8n+1){clear:both}.small-block-grid-9>li{width:11.11111%;list-style:none}.small-block-grid-9>li:nth-of-type(1n){clear:none}.small-block-grid-9>li:nth-of-type(9n+1){clear:both}.small-block-grid-10>li{width:10%;list-style:none}.small-block-grid-10>li:nth-of-type(1n){clear:none}.small-block-grid-10>li:nth-of-type(10n+1){clear:both}.small-block-grid-11>li{width:9.09091%;list-style:none}.small-block-grid-11>li:nth-of-type(1n){clear:none}.small-block-grid-11>li:nth-of-type(11n+1){clear:both}.small-block-grid-12>li{width:8.33333%;list-style:none}.small-block-grid-12>li:nth-of-type(1n){clear:none}.small-block-grid-12>li:nth-of-type(12n+1){clear:both}}@media only screen and (min-width:40.063em){.medium-block-grid-1>li{width:100%;list-style:none}.medium-block-grid-1>li:nth-of-type(1n){clear:none}.medium-block-grid-1>li:nth-of-type(1n+1){clear:both}.medium-block-grid-2>li{width:50%;list-style:none}.medium-block-grid-2>li:nth-of-type(1n){clear:none}.medium-block-grid-2>li:nth-of-type(2n+1){clear:both}.medium-block-grid-3>li{width:33.33333%;list-style:none}.medium-block-grid-3>li:nth-of-type(1n){clear:none}.medium-block-grid-3>li:nth-of-type(3n+1){clear:both}.medium-block-grid-4>li{width:25%;list-style:none}.medium-block-grid-4>li:nth-of-type(1n){clear:none}.medium-block-grid-4>li:nth-of-type(4n+1){clear:both}.medium-block-grid-5>li{width:20%;list-style:none}.medium-block-grid-5>li:nth-of-type(1n){clear:none}.medium-block-grid-5>li:nth-of-type(5n+1){clear:both}.medium-block-grid-6>li{width:16.66667%;list-style:none}.medium-block-grid-6>li:nth-of-type(1n){clear:none}.medium-block-grid-6>li:nth-of-type(6n+1){clear:both}.medium-block-grid-7>li{width:14.28571%;list-style:none}.medium-block-grid-7>li:nth-of-type(1n){clear:none}.medium-block-grid-7>li:nth-of-type(7n+1){clear:both}.medium-block-grid-8>li{width:12.5%;list-style:none}.medium-block-grid-8>li:nth-of-type(1n){clear:none}.medium-block-grid-8>li:nth-of-type(8n+1){clear:both}.medium-block-grid-9>li{width:11.11111%;list-style:none}.medium-block-grid-9>li:nth-of-type(1n){clear:none}.medium-block-grid-9>li:nth-of-type(9n+1){clear:both}.medium-block-grid-10>li{width:10%;list-style:none}.medium-block-grid-10>li:nth-of-type(1n){clear:none}.medium-block-grid-10>li:nth-of-type(10n+1){clear:both}.medium-block-grid-11>li{width:9.09091%;list-style:none}.medium-block-grid-11>li:nth-of-type(1n){clear:none}.medium-block-grid-11>li:nth-of-type(11n+1){clear:both}.medium-block-grid-12>li{width:8.33333%;list-style:none}.medium-block-grid-12>li:nth-of-type(1n){clear:none}.medium-block-grid-12>li:nth-of-type(12n+1){clear:both}}@media only screen and (min-width:64.063em){.large-block-grid-1>li{width:100%;list-style:none}.large-block-grid-1>li:nth-of-type(1n){clear:none}.large-block-grid-1>li:nth-of-type(1n+1){clear:both}.large-block-grid-2>li{width:50%;list-style:none}.large-block-grid-2>li:nth-of-type(1n){clear:none}.large-block-grid-2>li:nth-of-type(2n+1){clear:both}.large-block-grid-3>li{width:33.33333%;list-style:none}.large-block-grid-3>li:nth-of-type(1n){clear:none}.large-block-grid-3>li:nth-of-type(3n+1){clear:both}.large-block-grid-4>li{width:25%;list-style:none}.large-block-grid-4>li:nth-of-type(1n){clear:none}.large-block-grid-4>li:nth-of-type(4n+1){clear:both}.large-block-grid-5>li{width:20%;list-style:none}.large-block-grid-5>li:nth-of-type(1n){clear:none}.large-block-grid-5>li:nth-of-type(5n+1){clear:both}.large-block-grid-6>li{width:16.66667%;list-style:none}.large-block-grid-6>li:nth-of-type(1n){clear:none}.large-block-grid-6>li:nth-of-type(6n+1){clear:both}.large-block-grid-7>li{width:14.28571%;list-style:none}.large-block-grid-7>li:nth-of-type(1n){clear:none}.large-block-grid-7>li:nth-of-type(7n+1){clear:both}.large-block-grid-8>li{width:12.5%;list-style:none}.large-block-grid-8>li:nth-of-type(1n){clear:none}.large-block-grid-8>li:nth-of-type(8n+1){clear:both}.large-block-grid-9>li{width:11.11111%;list-style:none}.large-block-grid-9>li:nth-of-type(1n){clear:none}.large-block-grid-9>li:nth-of-type(9n+1){clear:both}.large-block-grid-10>li{width:10%;list-style:none}.large-block-grid-10>li:nth-of-type(1n){clear:none}.large-block-grid-10>li:nth-of-type(10n+1){clear:both}.large-block-grid-11>li{width:9.09091%;list-style:none}.large-block-grid-11>li:nth-of-type(1n){clear:none}.large-block-grid-11>li:nth-of-type(11n+1){clear:both}.large-block-grid-12>li{width:8.33333%;list-style:none}.large-block-grid-12>li:nth-of-type(1n){clear:none}.large-block-grid-12>li:nth-of-type(12n+1){clear:both}}.keystroke,kbd{background-color:#ededed;border-color:#ddd;color:#222;border-style:solid;border-width:1px;margin:0;font-family:Consolas,Menlo,Courier,monospace;font-size:inherit;padding:.125rem .25rem 0;border-radius:3px}@media only screen{.hide-for-large,.hide-for-large-only,.hide-for-large-up,.hide-for-medium,.hide-for-medium-only,.hide-for-medium-up,.hide-for-xlarge,.hide-for-xlarge-only,.hide-for-xlarge-up,.hide-for-xxlarge,.hide-for-xxlarge-only,.hide-for-xxlarge-up,.show-for-large-down,.show-for-medium-down,.show-for-small,.show-for-small-down,.show-for-small-only,.show-for-small-up,.show-for-xlarge-down,.show-for-xxlarge-down{display:inherit!important}.hide-for-large-down,.hide-for-medium-down,.hide-for-small,.hide-for-small-down,.hide-for-small-only,.hide-for-small-up,.hide-for-xlarge-down,.hide-for-xxlarge-down,.show-for-large,.show-for-large-only,.show-for-large-up,.show-for-medium,.show-for-medium-only,.show-for-medium-up,.show-for-xlarge,.show-for-xlarge-only,.show-for-xlarge-up,.show-for-xxlarge,.show-for-xxlarge-only,.show-for-xxlarge-up{display:none!important}.hidden-for-large,.hidden-for-large-only,.hidden-for-large-up,.hidden-for-medium,.hidden-for-medium-only,.hidden-for-medium-up,.hidden-for-xlarge,.hidden-for-xlarge-only,.hidden-for-xlarge-up,.hidden-for-xxlarge,.hidden-for-xxlarge-only,.hidden-for-xxlarge-up,.visible-for-large-down,.visible-for-medium-down,.visible-for-small,.visible-for-small-down,.visible-for-small-only,.visible-for-small-up,.visible-for-xlarge-down,.visible-for-xxlarge-down{position:static!important;height:auto;width:auto;overflow:visible;clip:auto}.hidden-for-large-down,.hidden-for-medium-down,.hidden-for-small,.hidden-for-small-down,.hidden-for-small-only,.hidden-for-small-up,.hidden-for-xlarge-down,.hidden-for-xxlarge-down,.visible-for-large,.visible-for-large-only,.visible-for-large-up,.visible-for-medium,.visible-for-medium-only,.visible-for-medium-up,.visible-for-xlarge,.visible-for-xlarge-only,.visible-for-xlarge-up,.visible-for-xxlarge,.visible-for-xxlarge-only,.visible-for-xxlarge-up{position:absolute!important;height:1px;width:1px;overflow:hidden;clip:rect(1px,1px,1px,1px)}table.hide-for-large,table.hide-for-large-only,table.hide-for-large-up,table.hide-for-medium,table.hide-for-medium-only,table.hide-for-medium-up,table.hide-for-xlarge,table.hide-for-xlarge-only,table.hide-for-xlarge-up,table.hide-for-xxlarge,table.hide-for-xxlarge-only,table.hide-for-xxlarge-up,table.show-for-large-down,table.show-for-medium-down,table.show-for-small,table.show-for-small-down,table.show-for-small-only,table.show-for-small-up,table.show-for-xlarge-down,table.show-for-xxlarge-down{display:table!important}thead.hide-for-large,thead.hide-for-large-only,thead.hide-for-large-up,thead.hide-for-medium,thead.hide-for-medium-only,thead.hide-for-medium-up,thead.hide-for-xlarge,thead.hide-for-xlarge-only,thead.hide-for-xlarge-up,thead.hide-for-xxlarge,thead.hide-for-xxlarge-only,thead.hide-for-xxlarge-up,thead.show-for-large-down,thead.show-for-medium-down,thead.show-for-small,thead.show-for-small-down,thead.show-for-small-only,thead.show-for-small-up,thead.show-for-xlarge-down,thead.show-for-xxlarge-down{display:table-header-group!important}tbody.hide-for-large,tbody.hide-for-large-only,tbody.hide-for-large-up,tbody.hide-for-medium,tbody.hide-for-medium-only,tbody.hide-for-medium-up,tbody.hide-for-xlarge,tbody.hide-for-xlarge-only,tbody.hide-for-xlarge-up,tbody.hide-for-xxlarge,tbody.hide-for-xxlarge-only,tbody.hide-for-xxlarge-up,tbody.show-for-large-down,tbody.show-for-medium-down,tbody.show-for-small,tbody.show-for-small-down,tbody.show-for-small-only,tbody.show-for-small-up,tbody.show-for-xlarge-down,tbody.show-for-xxlarge-down{display:table-row-group!important}tr.hide-for-large,tr.hide-for-large-only,tr.hide-for-large-up,tr.hide-for-medium,tr.hide-for-medium-only,tr.hide-for-medium-up,tr.hide-for-xlarge,tr.hide-for-xlarge-only,tr.hide-for-xlarge-up,tr.hide-for-xxlarge,tr.hide-for-xxlarge-only,tr.hide-for-xxlarge-up,tr.show-for-large-down,tr.show-for-medium-down,tr.show-for-small,tr.show-for-small-down,tr.show-for-small-only,tr.show-for-small-up,tr.show-for-xlarge-down,tr.show-for-xxlarge-down{display:table-row}td.hide-for-large,td.hide-for-large-only,td.hide-for-large-up,td.hide-for-medium,td.hide-for-medium-only,td.hide-for-medium-up,td.hide-for-xlarge,td.hide-for-xlarge-only,td.hide-for-xlarge-up,td.hide-for-xxlarge,td.hide-for-xxlarge-only,td.hide-for-xxlarge-up,td.show-for-large-down,td.show-for-medium-down,td.show-for-small,td.show-for-small-down,td.show-for-small-only,td.show-for-small-up,td.show-for-xlarge-down,td.show-for-xxlarge-down,th.hide-for-large,th.hide-for-large-only,th.hide-for-large-up,th.hide-for-medium,th.hide-for-medium-only,th.hide-for-medium-up,th.hide-for-xlarge,th.hide-for-xlarge-only,th.hide-for-xlarge-up,th.hide-for-xxlarge,th.hide-for-xxlarge-only,th.hide-for-xxlarge-up,th.show-for-large-down,th.show-for-medium-down,th.show-for-small,th.show-for-small-down,th.show-for-small-only,th.show-for-small-up,th.show-for-xlarge-down,th.show-for-xxlarge-down{display:table-cell!important}}@media only screen and (min-width:40.063em){.hide-for-large,.hide-for-large-only,.hide-for-large-up,.hide-for-small,.hide-for-small-down,.hide-for-small-only,.hide-for-xlarge,.hide-for-xlarge-only,.hide-for-xlarge-up,.hide-for-xxlarge,.hide-for-xxlarge-only,.hide-for-xxlarge-up,.show-for-large-down,.show-for-medium,.show-for-medium-down,.show-for-medium-only,.show-for-medium-up,.show-for-small-up,.show-for-xlarge-down,.show-for-xxlarge-down{display:inherit!important}.hide-for-large-down,.hide-for-medium,.hide-for-medium-down,.hide-for-medium-only,.hide-for-medium-up,.hide-for-small-up,.hide-for-xlarge-down,.hide-for-xxlarge-down,.show-for-large,.show-for-large-only,.show-for-large-up,.show-for-small,.show-for-small-down,.show-for-small-only,.show-for-xlarge,.show-for-xlarge-only,.show-for-xlarge-up,.show-for-xxlarge,.show-for-xxlarge-only,.show-for-xxlarge-up{display:none!important}.hidden-for-large,.hidden-for-large-only,.hidden-for-large-up,.hidden-for-small,.hidden-for-small-down,.hidden-for-small-only,.hidden-for-xlarge,.hidden-for-xlarge-only,.hidden-for-xlarge-up,.hidden-for-xxlarge,.hidden-for-xxlarge-only,.hidden-for-xxlarge-up,.visible-for-large-down,.visible-for-medium,.visible-for-medium-down,.visible-for-medium-only,.visible-for-medium-up,.visible-for-small-up,.visible-for-xlarge-down,.visible-for-xxlarge-down{position:static!important;height:auto;width:auto;overflow:visible;clip:auto}.hidden-for-large-down,.hidden-for-medium,.hidden-for-medium-down,.hidden-for-medium-only,.hidden-for-medium-up,.hidden-for-small-up,.hidden-for-xlarge-down,.hidden-for-xxlarge-down,.visible-for-large,.visible-for-large-only,.visible-for-large-up,.visible-for-small,.visible-for-small-down,.visible-for-small-only,.visible-for-xlarge,.visible-for-xlarge-only,.visible-for-xlarge-up,.visible-for-xxlarge,.visible-for-xxlarge-only,.visible-for-xxlarge-up{position:absolute!important;height:1px;width:1px;overflow:hidden;clip:rect(1px,1px,1px,1px)}table.hide-for-large,table.hide-for-large-only,table.hide-for-large-up,table.hide-for-small,table.hide-for-small-down,table.hide-for-small-only,table.hide-for-xlarge,table.hide-for-xlarge-only,table.hide-for-xlarge-up,table.hide-for-xxlarge,table.hide-for-xxlarge-only,table.hide-for-xxlarge-up,table.show-for-large-down,table.show-for-medium,table.show-for-medium-down,table.show-for-medium-only,table.show-for-medium-up,table.show-for-small-up,table.show-for-xlarge-down,table.show-for-xxlarge-down{display:table!important}thead.hide-for-large,thead.hide-for-large-only,thead.hide-for-large-up,thead.hide-for-small,thead.hide-for-small-down,thead.hide-for-small-only,thead.hide-for-xlarge,thead.hide-for-xlarge-only,thead.hide-for-xlarge-up,thead.hide-for-xxlarge,thead.hide-for-xxlarge-only,thead.hide-for-xxlarge-up,thead.show-for-large-down,thead.show-for-medium,thead.show-for-medium-down,thead.show-for-medium-only,thead.show-for-medium-up,thead.show-for-small-up,thead.show-for-xlarge-down,thead.show-for-xxlarge-down{display:table-header-group!important}tbody.hide-for-large,tbody.hide-for-large-only,tbody.hide-for-large-up,tbody.hide-for-small,tbody.hide-for-small-down,tbody.hide-for-small-only,tbody.hide-for-xlarge,tbody.hide-for-xlarge-only,tbody.hide-for-xlarge-up,tbody.hide-for-xxlarge,tbody.hide-for-xxlarge-only,tbody.hide-for-xxlarge-up,tbody.show-for-large-down,tbody.show-for-medium,tbody.show-for-medium-down,tbody.show-for-medium-only,tbody.show-for-medium-up,tbody.show-for-small-up,tbody.show-for-xlarge-down,tbody.show-for-xxlarge-down{display:table-row-group!important}tr.hide-for-large,tr.hide-for-large-only,tr.hide-for-large-up,tr.hide-for-small,tr.hide-for-small-down,tr.hide-for-small-only,tr.hide-for-xlarge,tr.hide-for-xlarge-only,tr.hide-for-xlarge-up,tr.hide-for-xxlarge,tr.hide-for-xxlarge-only,tr.hide-for-xxlarge-up,tr.show-for-large-down,tr.show-for-medium,tr.show-for-medium-down,tr.show-for-medium-only,tr.show-for-medium-up,tr.show-for-small-up,tr.show-for-xlarge-down,tr.show-for-xxlarge-down{display:table-row}td.hide-for-large,td.hide-for-large-only,td.hide-for-large-up,td.hide-for-small,td.hide-for-small-down,td.hide-for-small-only,td.hide-for-xlarge,td.hide-for-xlarge-only,td.hide-for-xlarge-up,td.hide-for-xxlarge,td.hide-for-xxlarge-only,td.hide-for-xxlarge-up,td.show-for-large-down,td.show-for-medium,td.show-for-medium-down,td.show-for-medium-only,td.show-for-medium-up,td.show-for-small-up,td.show-for-xlarge-down,td.show-for-xxlarge-down,th.hide-for-large,th.hide-for-large-only,th.hide-for-large-up,th.hide-for-small,th.hide-for-small-down,th.hide-for-small-only,th.hide-for-xlarge,th.hide-for-xlarge-only,th.hide-for-xlarge-up,th.hide-for-xxlarge,th.hide-for-xxlarge-only,th.hide-for-xxlarge-up,th.show-for-large-down,th.show-for-medium,th.show-for-medium-down,th.show-for-medium-only,th.show-for-medium-up,th.show-for-small-up,th.show-for-xlarge-down,th.show-for-xxlarge-down{display:table-cell!important}}@media only screen and (min-width:64.063em){.hide-for-medium,.hide-for-medium-down,.hide-for-medium-only,.hide-for-small,.hide-for-small-down,.hide-for-small-only,.hide-for-xlarge,.hide-for-xlarge-only,.hide-for-xlarge-up,.hide-for-xxlarge,.hide-for-xxlarge-only,.hide-for-xxlarge-up,.show-for-large,.show-for-large-down,.show-for-large-only,.show-for-large-up,.show-for-medium-up,.show-for-small-up,.show-for-xlarge-down,.show-for-xxlarge-down{display:inherit!important}.hide-for-large,.hide-for-large-down,.hide-for-large-only,.hide-for-large-up,.hide-for-medium-up,.hide-for-small-up,.hide-for-xlarge-down,.hide-for-xxlarge-down,.show-for-medium,.show-for-medium-down,.show-for-medium-only,.show-for-small,.show-for-small-down,.show-for-small-only,.show-for-xlarge,.show-for-xlarge-only,.show-for-xlarge-up,.show-for-xxlarge,.show-for-xxlarge-only,.show-for-xxlarge-up{display:none!important}.hidden-for-medium,.hidden-for-medium-down,.hidden-for-medium-only,.hidden-for-small,.hidden-for-small-down,.hidden-for-small-only,.hidden-for-xlarge,.hidden-for-xlarge-only,.hidden-for-xlarge-up,.hidden-for-xxlarge,.hidden-for-xxlarge-only,.hidden-for-xxlarge-up,.visible-for-large,.visible-for-large-down,.visible-for-large-only,.visible-for-large-up,.visible-for-medium-up,.visible-for-small-up,.visible-for-xlarge-down,.visible-for-xxlarge-down{position:static!important;height:auto;width:auto;overflow:visible;clip:auto}.hidden-for-large,.hidden-for-large-down,.hidden-for-large-only,.hidden-for-large-up,.hidden-for-medium-up,.hidden-for-small-up,.hidden-for-xlarge-down,.hidden-for-xxlarge-down,.visible-for-medium,.visible-for-medium-down,.visible-for-medium-only,.visible-for-small,.visible-for-small-down,.visible-for-small-only,.visible-for-xlarge,.visible-for-xlarge-only,.visible-for-xlarge-up,.visible-for-xxlarge,.visible-for-xxlarge-only,.visible-for-xxlarge-up{position:absolute!important;height:1px;width:1px;overflow:hidden;clip:rect(1px,1px,1px,1px)}table.hide-for-medium,table.hide-for-medium-down,table.hide-for-medium-only,table.hide-for-small,table.hide-for-small-down,table.hide-for-small-only,table.hide-for-xlarge,table.hide-for-xlarge-only,table.hide-for-xlarge-up,table.hide-for-xxlarge,table.hide-for-xxlarge-only,table.hide-for-xxlarge-up,table.show-for-large,table.show-for-large-down,table.show-for-large-only,table.show-for-large-up,table.show-for-medium-up,table.show-for-small-up,table.show-for-xlarge-down,table.show-for-xxlarge-down{display:table!important}thead.hide-for-medium,thead.hide-for-medium-down,thead.hide-for-medium-only,thead.hide-for-small,thead.hide-for-small-down,thead.hide-for-small-only,thead.hide-for-xlarge,thead.hide-for-xlarge-only,thead.hide-for-xlarge-up,thead.hide-for-xxlarge,thead.hide-for-xxlarge-only,thead.hide-for-xxlarge-up,thead.show-for-large,thead.show-for-large-down,thead.show-for-large-only,thead.show-for-large-up,thead.show-for-medium-up,thead.show-for-small-up,thead.show-for-xlarge-down,thead.show-for-xxlarge-down{display:table-header-group!important}tbody.hide-for-medium,tbody.hide-for-medium-down,tbody.hide-for-medium-only,tbody.hide-for-small,tbody.hide-for-small-down,tbody.hide-for-small-only,tbody.hide-for-xlarge,tbody.hide-for-xlarge-only,tbody.hide-for-xlarge-up,tbody.hide-for-xxlarge,tbody.hide-for-xxlarge-only,tbody.hide-for-xxlarge-up,tbody.show-for-large,tbody.show-for-large-down,tbody.show-for-large-only,tbody.show-for-large-up,tbody.show-for-medium-up,tbody.show-for-small-up,tbody.show-for-xlarge-down,tbody.show-for-xxlarge-down{display:table-row-group!important}tr.hide-for-medium,tr.hide-for-medium-down,tr.hide-for-medium-only,tr.hide-for-small,tr.hide-for-small-down,tr.hide-for-small-only,tr.hide-for-xlarge,tr.hide-for-xlarge-only,tr.hide-for-xlarge-up,tr.hide-for-xxlarge,tr.hide-for-xxlarge-only,tr.hide-for-xxlarge-up,tr.show-for-large,tr.show-for-large-down,tr.show-for-large-only,tr.show-for-large-up,tr.show-for-medium-up,tr.show-for-small-up,tr.show-for-xlarge-down,tr.show-for-xxlarge-down{display:table-row}td.hide-for-medium,td.hide-for-medium-down,td.hide-for-medium-only,td.hide-for-small,td.hide-for-small-down,td.hide-for-small-only,td.hide-for-xlarge,td.hide-for-xlarge-only,td.hide-for-xlarge-up,td.hide-for-xxlarge,td.hide-for-xxlarge-only,td.hide-for-xxlarge-up,td.show-for-large,td.show-for-large-down,td.show-for-large-only,td.show-for-large-up,td.show-for-medium-up,td.show-for-small-up,td.show-for-xlarge-down,td.show-for-xxlarge-down,th.hide-for-medium,th.hide-for-medium-down,th.hide-for-medium-only,th.hide-for-small,th.hide-for-small-down,th.hide-for-small-only,th.hide-for-xlarge,th.hide-for-xlarge-only,th.hide-for-xlarge-up,th.hide-for-xxlarge,th.hide-for-xxlarge-only,th.hide-for-xxlarge-up,th.show-for-large,th.show-for-large-down,th.show-for-large-only,th.show-for-large-up,th.show-for-medium-up,th.show-for-small-up,th.show-for-xlarge-down,th.show-for-xxlarge-down{display:table-cell!important}}@media only screen and (min-width:90.063em){.hide-for-large,.hide-for-large-down,.hide-for-large-only,.hide-for-medium,.hide-for-medium-down,.hide-for-medium-only,.hide-for-small,.hide-for-small-down,.hide-for-small-only,.hide-for-xxlarge,.hide-for-xxlarge-only,.hide-for-xxlarge-up,.show-for-large-up,.show-for-medium-up,.show-for-small-up,.show-for-xlarge,.show-for-xlarge-down,.show-for-xlarge-only,.show-for-xlarge-up,.show-for-xxlarge-down{display:inherit!important}.hide-for-large-up,.hide-for-medium-up,.hide-for-small-up,.hide-for-xlarge,.hide-for-xlarge-down,.hide-for-xlarge-only,.hide-for-xlarge-up,.hide-for-xxlarge-down,.show-for-large,.show-for-large-down,.show-for-large-only,.show-for-medium,.show-for-medium-down,.show-for-medium-only,.show-for-small,.show-for-small-down,.show-for-small-only,.show-for-xxlarge,.show-for-xxlarge-only,.show-for-xxlarge-up{display:none!important}.hidden-for-large,.hidden-for-large-down,.hidden-for-large-only,.hidden-for-medium,.hidden-for-medium-down,.hidden-for-medium-only,.hidden-for-small,.hidden-for-small-down,.hidden-for-small-only,.hidden-for-xxlarge,.hidden-for-xxlarge-only,.hidden-for-xxlarge-up,.visible-for-large-up,.visible-for-medium-up,.visible-for-small-up,.visible-for-xlarge,.visible-for-xlarge-down,.visible-for-xlarge-only,.visible-for-xlarge-up,.visible-for-xxlarge-down{position:static!important;height:auto;width:auto;overflow:visible;clip:auto}.hidden-for-large-up,.hidden-for-medium-up,.hidden-for-small-up,.hidden-for-xlarge,.hidden-for-xlarge-down,.hidden-for-xlarge-only,.hidden-for-xlarge-up,.hidden-for-xxlarge-down,.visible-for-large,.visible-for-large-down,.visible-for-large-only,.visible-for-medium,.visible-for-medium-down,.visible-for-medium-only,.visible-for-small,.visible-for-small-down,.visible-for-small-only,.visible-for-xxlarge,.visible-for-xxlarge-only,.visible-for-xxlarge-up{position:absolute!important;height:1px;width:1px;overflow:hidden;clip:rect(1px,1px,1px,1px)}table.hide-for-large,table.hide-for-large-down,table.hide-for-large-only,table.hide-for-medium,table.hide-for-medium-down,table.hide-for-medium-only,table.hide-for-small,table.hide-for-small-down,table.hide-for-small-only,table.hide-for-xxlarge,table.hide-for-xxlarge-only,table.hide-for-xxlarge-up,table.show-for-large-up,table.show-for-medium-up,table.show-for-small-up,table.show-for-xlarge,table.show-for-xlarge-down,table.show-for-xlarge-only,table.show-for-xlarge-up,table.show-for-xxlarge-down{display:table!important}thead.hide-for-large,thead.hide-for-large-down,thead.hide-for-large-only,thead.hide-for-medium,thead.hide-for-medium-down,thead.hide-for-medium-only,thead.hide-for-small,thead.hide-for-small-down,thead.hide-for-small-only,thead.hide-for-xxlarge,thead.hide-for-xxlarge-only,thead.hide-for-xxlarge-up,thead.show-for-large-up,thead.show-for-medium-up,thead.show-for-small-up,thead.show-for-xlarge,thead.show-for-xlarge-down,thead.show-for-xlarge-only,thead.show-for-xlarge-up,thead.show-for-xxlarge-down{display:table-header-group!important}tbody.hide-for-large,tbody.hide-for-large-down,tbody.hide-for-large-only,tbody.hide-for-medium,tbody.hide-for-medium-down,tbody.hide-for-medium-only,tbody.hide-for-small,tbody.hide-for-small-down,tbody.hide-for-small-only,tbody.hide-for-xxlarge,tbody.hide-for-xxlarge-only,tbody.hide-for-xxlarge-up,tbody.show-for-large-up,tbody.show-for-medium-up,tbody.show-for-small-up,tbody.show-for-xlarge,tbody.show-for-xlarge-down,tbody.show-for-xlarge-only,tbody.show-for-xlarge-up,tbody.show-for-xxlarge-down{display:table-row-group!important}tr.hide-for-large,tr.hide-for-large-down,tr.hide-for-large-only,tr.hide-for-medium,tr.hide-for-medium-down,tr.hide-for-medium-only,tr.hide-for-small,tr.hide-for-small-down,tr.hide-for-small-only,tr.hide-for-xxlarge,tr.hide-for-xxlarge-only,tr.hide-for-xxlarge-up,tr.show-for-large-up,tr.show-for-medium-up,tr.show-for-small-up,tr.show-for-xlarge,tr.show-for-xlarge-down,tr.show-for-xlarge-only,tr.show-for-xlarge-up,tr.show-for-xxlarge-down{display:table-row}td.hide-for-large,td.hide-for-large-down,td.hide-for-large-only,td.hide-for-medium,td.hide-for-medium-down,td.hide-for-medium-only,td.hide-for-small,td.hide-for-small-down,td.hide-for-small-only,td.hide-for-xxlarge,td.hide-for-xxlarge-only,td.hide-for-xxlarge-up,td.show-for-large-up,td.show-for-medium-up,td.show-for-small-up,td.show-for-xlarge,td.show-for-xlarge-down,td.show-for-xlarge-only,td.show-for-xlarge-up,td.show-for-xxlarge-down,th.hide-for-large,th.hide-for-large-down,th.hide-for-large-only,th.hide-for-medium,th.hide-for-medium-down,th.hide-for-medium-only,th.hide-for-small,th.hide-for-small-down,th.hide-for-small-only,th.hide-for-xxlarge,th.hide-for-xxlarge-only,th.hide-for-xxlarge-up,th.show-for-large-up,th.show-for-medium-up,th.show-for-small-up,th.show-for-xlarge,th.show-for-xlarge-down,th.show-for-xlarge-only,th.show-for-xlarge-up,th.show-for-xxlarge-down{display:table-cell!important}}@media only screen and (min-width:120.063em){.hide-for-large,.hide-for-large-down,.hide-for-large-only,.hide-for-medium,.hide-for-medium-down,.hide-for-medium-only,.hide-for-small,.hide-for-small-down,.hide-for-small-only,.hide-for-xlarge,.hide-for-xlarge-down,.hide-for-xlarge-only,.show-for-large-up,.show-for-medium-up,.show-for-small-up,.show-for-xlarge-up,.show-for-xxlarge,.show-for-xxlarge-down,.show-for-xxlarge-only,.show-for-xxlarge-up{display:inherit!important}.hide-for-large-up,.hide-for-medium-up,.hide-for-small-up,.hide-for-xlarge-up,.hide-for-xxlarge,.hide-for-xxlarge-down,.hide-for-xxlarge-only,.hide-for-xxlarge-up,.show-for-large,.show-for-large-down,.show-for-large-only,.show-for-medium,.show-for-medium-down,.show-for-medium-only,.show-for-small,.show-for-small-down,.show-for-small-only,.show-for-xlarge,.show-for-xlarge-down,.show-for-xlarge-only{display:none!important}.hidden-for-large,.hidden-for-large-down,.hidden-for-large-only,.hidden-for-medium,.hidden-for-medium-down,.hidden-for-medium-only,.hidden-for-small,.hidden-for-small-down,.hidden-for-small-only,.hidden-for-xlarge,.hidden-for-xlarge-down,.hidden-for-xlarge-only,.visible-for-large-up,.visible-for-medium-up,.visible-for-small-up,.visible-for-xlarge-up,.visible-for-xxlarge,.visible-for-xxlarge-down,.visible-for-xxlarge-only,.visible-for-xxlarge-up{position:static!important;height:auto;width:auto;overflow:visible;clip:auto}.hidden-for-large-up,.hidden-for-medium-up,.hidden-for-small-up,.hidden-for-xlarge-up,.hidden-for-xxlarge,.hidden-for-xxlarge-down,.hidden-for-xxlarge-only,.hidden-for-xxlarge-up,.visible-for-large,.visible-for-large-down,.visible-for-large-only,.visible-for-medium,.visible-for-medium-down,.visible-for-medium-only,.visible-for-small,.visible-for-small-down,.visible-for-small-only,.visible-for-xlarge,.visible-for-xlarge-down,.visible-for-xlarge-only{position:absolute!important;height:1px;width:1px;overflow:hidden;clip:rect(1px,1px,1px,1px)}table.hide-for-large,table.hide-for-large-down,table.hide-for-large-only,table.hide-for-medium,table.hide-for-medium-down,table.hide-for-medium-only,table.hide-for-small,table.hide-for-small-down,table.hide-for-small-only,table.hide-for-xlarge,table.hide-for-xlarge-down,table.hide-for-xlarge-only,table.show-for-large-up,table.show-for-medium-up,table.show-for-small-up,table.show-for-xlarge-up,table.show-for-xxlarge,table.show-for-xxlarge-down,table.show-for-xxlarge-only,table.show-for-xxlarge-up{display:table!important}thead.hide-for-large,thead.hide-for-large-down,thead.hide-for-large-only,thead.hide-for-medium,thead.hide-for-medium-down,thead.hide-for-medium-only,thead.hide-for-small,thead.hide-for-small-down,thead.hide-for-small-only,thead.hide-for-xlarge,thead.hide-for-xlarge-down,thead.hide-for-xlarge-only,thead.show-for-large-up,thead.show-for-medium-up,thead.show-for-small-up,thead.show-for-xlarge-up,thead.show-for-xxlarge,thead.show-for-xxlarge-down,thead.show-for-xxlarge-only,thead.show-for-xxlarge-up{display:table-header-group!important}tbody.hide-for-large,tbody.hide-for-large-down,tbody.hide-for-large-only,tbody.hide-for-medium,tbody.hide-for-medium-down,tbody.hide-for-medium-only,tbody.hide-for-small,tbody.hide-for-small-down,tbody.hide-for-small-only,tbody.hide-for-xlarge,tbody.hide-for-xlarge-down,tbody.hide-for-xlarge-only,tbody.show-for-large-up,tbody.show-for-medium-up,tbody.show-for-small-up,tbody.show-for-xlarge-up,tbody.show-for-xxlarge,tbody.show-for-xxlarge-down,tbody.show-for-xxlarge-only,tbody.show-for-xxlarge-up{display:table-row-group!important}tr.hide-for-large,tr.hide-for-large-down,tr.hide-for-large-only,tr.hide-for-medium,tr.hide-for-medium-down,tr.hide-for-medium-only,tr.hide-for-small,tr.hide-for-small-down,tr.hide-for-small-only,tr.hide-for-xlarge,tr.hide-for-xlarge-down,tr.hide-for-xlarge-only,tr.show-for-large-up,tr.show-for-medium-up,tr.show-for-small-up,tr.show-for-xlarge-up,tr.show-for-xxlarge,tr.show-for-xxlarge-down,tr.show-for-xxlarge-only,tr.show-for-xxlarge-up{display:table-row}td.hide-for-large,td.hide-for-large-down,td.hide-for-large-only,td.hide-for-medium,td.hide-for-medium-down,td.hide-for-medium-only,td.hide-for-small,td.hide-for-small-down,td.hide-for-small-only,td.hide-for-xlarge,td.hide-for-xlarge-down,td.hide-for-xlarge-only,td.show-for-large-up,td.show-for-medium-up,td.show-for-small-up,td.show-for-xlarge-up,td.show-for-xxlarge,td.show-for-xxlarge-down,td.show-for-xxlarge-only,td.show-for-xxlarge-up,th.hide-for-large,th.hide-for-large-down,th.hide-for-large-only,th.hide-for-medium,th.hide-for-medium-down,th.hide-for-medium-only,th.hide-for-small,th.hide-for-small-down,th.hide-for-small-only,th.hide-for-xlarge,th.hide-for-xlarge-down,th.hide-for-xlarge-only,th.show-for-large-up,th.show-for-medium-up,th.show-for-small-up,th.show-for-xlarge-up,th.show-for-xxlarge,th.show-for-xxlarge-down,th.show-for-xxlarge-only,th.show-for-xxlarge-up{display:table-cell!important}}.hide-for-portrait,.show-for-landscape{display:inherit!important}.hide-for-landscape,.show-for-portrait{display:none!important}table.hide-for-landscape,table.show-for-portrait{display:table!important}thead.hide-for-landscape,thead.show-for-portrait{display:table-header-group!important}tbody.hide-for-landscape,tbody.show-for-portrait{display:table-row-group!important}tr.hide-for-landscape,tr.show-for-portrait{display:table-row!important}td.hide-for-landscape,td.show-for-portrait,th.hide-for-landscape,th.show-for-portrait{display:table-cell!important}@media only screen and (orientation:landscape){.hide-for-portrait,.show-for-landscape{display:inherit!important}.hide-for-landscape,.show-for-portrait{display:none!important}table.hide-for-portrait,table.show-for-landscape{display:table!important}thead.hide-for-portrait,thead.show-for-landscape{display:table-header-group!important}tbody.hide-for-portrait,tbody.show-for-landscape{display:table-row-group!important}tr.hide-for-portrait,tr.show-for-landscape{display:table-row!important}td.hide-for-portrait,td.show-for-landscape,th.hide-for-portrait,th.show-for-landscape{display:table-cell!important}}@media only screen and (orientation:portrait){.hide-for-landscape,.show-for-portrait{display:inherit!important}.hide-for-portrait,.show-for-landscape{display:none!important}table.hide-for-landscape,table.show-for-portrait{display:table!important}thead.hide-for-landscape,thead.show-for-portrait{display:table-header-group!important}tbody.hide-for-landscape,tbody.show-for-portrait{display:table-row-group!important}tr.hide-for-landscape,tr.show-for-portrait{display:table-row!important}td.hide-for-landscape,td.show-for-portrait,th.hide-for-landscape,th.show-for-portrait{display:table-cell!important}}.show-for-touch{display:none!important}.hide-for-touch,.touch .show-for-touch{display:inherit!important}.touch .hide-for-touch{display:none!important}.touch table.show-for-touch,table.hide-for-touch{display:table!important}.touch thead.show-for-touch,thead.hide-for-touch{display:table-header-group!important}.touch tbody.show-for-touch,tbody.hide-for-touch{display:table-row-group!important}.touch tr.show-for-touch,tr.hide-for-touch{display:table-row!important}.touch td.show-for-touch,.touch th.show-for-touch,td.hide-for-touch,th.hide-for-touch{display:table-cell!important}.print-only{display:none!important}@media print{blockquote,img,pre,tr{page-break-inside:avoid}*{background:0 0!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href)")"}abbr[title]:after{content:" (" attr(title)")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}blockquote,pre{border:1px solid #999}thead{display:table-header-group}img{max-width:100%!important}@page{margin:.5cm}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}.hide-on-print{display:none!important}.print-only{display:block!important}.hide-for-print{display:none!important}.show-for-print{display:inherit!important}table.show-for-print{display:table!important}thead.show-for-print{display:table-header-group!important}tbody.show-for-print{display:table-row-group!important}tr.show-for-print{display:table-row!important}td.show-for-print,th.show-for-print{display:table-cell!important}}