.wf-loading, .wf-loading p, .wf-loading a, .wf-loading span, .wf-loading img {
  opacity: 0;
  font-family: "Merriweather", "serif";
  font-style: normal;
  font-weight: 400;
  visibility: hidden; }

a, a span {
  color: #4f4551;
  white-space: nowrap;
  transition: all 0.44s ease-in-out; }

p i, a i, a img {
  width: 15px;
  font-size: 15px;
  text-align: center; }

body {
  width: 100%;
  font-family: "Merriweather", "serif";
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.2em;
  color: #4f4551;
  background: #fafafa;
  -webkit-transition: all 0.88s ease-in-out;
  -moz-transition: all 0.88s ease-in-out;
  -ms-transition: all 0.88s ease-in-out;
  -o-transition: all 0.88s ease-in-out;
  transition: all 0.88s ease-in-out; }

.wf-active {
  opacity: 1;
  visibility: visible; }
  .wf-active p {
    opacity: 1;
    visibility: visible; }
  .wf-active a {
    opacity: 1;
    visibility: visible; }
  .wf-active span {
    opacity: 1;
    visibility: visible; }
  .wf-active img {
    opacity: 1;
    visibility: visible; }

::selection {
  background: #444444;
  color: white;
  outline: none; }

::-moz-selection {
  background: #444444;
  color: white; }

li {
  list-style: none; }

#wrapper {
  padding: 10% 0;
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-size: 14px;
  line-height: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (max-width: 38em) {
    #wrapper {
      padding: 36px 0; } }

p {
  margin-top: 0;
  margin-bottom: 0.9375rem;
  -webkit-transition: all 0.44s ease-in-out;
  -moz-transition: all 0.44s ease-in-out;
  -ms-transition: all 0.44s ease-in-out;
  -o-transition: all 0.44s ease-in-out;
  transition: all 0.44s ease-in-out; }
  p span {
    margin-left: 2px; }

a {
  text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:active {
    color: #2f2f2f;
    opacity: 0.44; }
  a span {
    margin-left: 2px; }
  a i.fa-paper-plane {
    font-size: 13px; }
  a i.fa-calendar-o {
    font-size: 13px; }
  a:hover span {
    -webkit-box-shadow: 0 2px 0 0 #4f4551;
    -moz-box-shadow: 0 2px 0 0 #4f4551;
    box-shadow: 0 2px 0 0 #4f4551; }
  a:focus span {
    -webkit-box-shadow: 0 2px 0 0 #4f4551;
    -moz-box-shadow: 0 2px 0 0 #4f4551;
    box-shadow: 0 2px 0 0 #4f4551; }

.indent {
  width: 70px;
  float: left; }

.content {
  margin-left: 70px;
  margin-bottom: 2.2rem; }

.about-copy {
  margin-bottom: 1.6em; }

.nav {
  text-transform: none;
  white-space: nowrap; }
  .nav ul {
    padding: 0;
    margin: 0; }
  .nav li {
    padding: 0 0 0.9375rem; }

.batsignal, .batcave-close {
  width: 40px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  cursor: pointer; }
  .batsignal i, .batcave-close i {
    cursor: pointer;
    -webkit-transition: all 0.44s ease-in-out;
    -moz-transition: all 0.44s ease-in-out;
    -ms-transition: all 0.44s ease-in-out;
    -o-transition: all 0.44s ease-in-out;
    transition: all 0.44s ease-in-out;
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    -moz-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative; }
    .batsignal i:before, .batcave-close i:before {
      line-height: 34px; }
  .batsignal:active i, .batcave-close:active i {
    opacity: 0.5;
    margin-top: 2px;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out; }

.batman::selection {
  background: #f8f4f9;
  color: 444;
  outline: none; }

.batman::-moz-selection {
  background: #f8f4f9;
  color: 444; }

.batcave {
  display: none;
  position: relative; }

.batbelt {
  padding-bottom: 5.625em; }
  .batbelt .batarang {
    position: relative;
    cursor: pointer;
    padding-top: 0.9375em;
    padding-bottom: 0.9375em;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .batbelt .batarang:before {
      padding-top: 50%; }
      .batbelt .batarang:before img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; }
    @media only screen and (max-width: 38em) {
      .batbelt .batarang:nth-of-type(even) {
        padding-right: 0.46875em;
        padding-bottom: 0; }
      .batbelt .batarang:nth-of-type(odd) {
        padding-left: 0.46875em;
        padding-bottom: 0; } }
    .batbelt .batarang:hover img, .batbelt .batarang:focus img {
      opacity: 0.33;
      filter: alpha(opacity=33); }
    .batbelt .batarang i {
      position: absolute;
      text-align: center;
      width: 100%;
      margin-top: -10px;
      top: 50%;
      left: 0;
      right: 0;
      font-size: 20px;
      line-height: 1; }
      @media only screen and (max-width: 38em) {
        .batbelt .batarang i {
          margin-top: -2px; } }
  .batbelt .batarang-content-wrapper {
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .batbelt .batarang-content {
    position: absolute;
    padding-top: 0.9375em;
    padding-bottom: 0.9375em;
    padding-left: 0 !important;
    padding-right: 0 !important;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .batbelt .batarang-content.revealed {
      position: relative;
      opacity: 1;
      filter: alpha(opacity=100); }
    .batbelt .batarang-content .name {
      font-weight: 700; }
      @media only screen and (max-width: 38em) {
        .batbelt .batarang-content .name {
          margin-top: 0.9375em;
          padding-left: 0.9375em;
          padding-right: 0.9375em; } }
    .batbelt .batarang-content .description {
      margin-bottom: 0; }
      @media only screen and (max-width: 38em) {
        .batbelt .batarang-content .description {
          padding-left: 0.9375em;
          padding-right: 0.9375em; } }
    .batbelt .batarang-content .batslider ul {
      margin: 0;
      padding: 0; }
  .batbelt .row {
    margin-left: -0.9375em;
    margin-right: -0.9375em; }
  .batbelt img {
    width: 100%;
    padding: 0.9375em;
    background-color: white;
    position: relative;
    z-index: 3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px -1px #555;
    -moz-box-shadow: 0 1px 2px -1px #555;
    box-shadow: 0 1px 2px -1px #555;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

.batcave-close {
  text-align: center;
  z-index: 4;
  margin-top: -9px;
  font-size: 15px; }
  .batcave-close i {
    width: 100%;
    line-height: 31px; }
  .batcave-close:hover, .batcave-close:focus {
    color: #F20530; }

.batnav {
  float: left;
  width: 100%; }
  .batnav p {
    margin: 0; }

.space {
  height: 60px;
  width: 100%;
  float: left; }

.aboutInfo a {
  color: #a38e7c; }
  .aboutInfo a:hover {
    color: #d6c1a2; }

.name p {
  font-weight: 700; }
.name i {
  margin: 0 3px; }

/*# sourceMappingURL=style.css.map */
