// Import It
@import "mixins";
@import "variables";
// Start Up Styles
html {}

body {
    width: 100%;
    font-family: $font_0, $font_1;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.2em;
    color: $color_mortar_approx;
    background: #fafafa;
    @include transition(all 0.88s ease-in-out);
}

.wf-loading {
    @extend %extend_1;
    p {
        @extend %extend_1;
    }
    a {
        @extend %extend_1;
    }
    span {
        @extend %extend_1;
    }
    img {
        @extend %extend_1;
    }
}

.wf-active {
    opacity: 1;
    visibility: visible;
    p {
        opacity: 1;
        visibility: visible;
    }
    a {
        opacity: 1;
        visibility: visible;
    }
    span {
        opacity: 1;
        visibility: visible;
    }
    img {
        opacity: 1;
        visibility: visible;
    }
}

::selection {
    background: $color_tundora_approx;
    color: $white;
    outline: none;
}

::-moz-selection {
    background: $color_tundora_approx;
    color: $white;
}

li {
    list-style: none;
}

#wrapper {
    padding: 10% 0;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    font-size: 14px;
    line-height: 1.5em;
    @include box-sizing(border-box);
    @media only screen and (max-width: 38em) {
        padding: 36px 0;
    }
}

p {
    margin-top: 0;
    margin-bottom: 0.9375rem;
    @include transition(all 0.44s ease-in-out);
    i {
        @extend %extend_3;
    }
    span {
        margin-left: 2px;
    }
}

a {
    text-decoration: none;
    @extend %extend_2;
    &:visited {
        text-decoration: none;
    }
    &:active {
        color: $color_mine_shaft_approx;
        opacity: 0.44;
    }
    span {
        @extend %extend_2;
        margin-left: 2px;
    }
    i {
        @extend %extend_3;
        &.fa-paper-plane {
            font-size: 13px;
        }
        &.fa-calendar-o {
            font-size: 13px;
        }
    }
    img {
        @extend %extend_3;
    }
    &:hover span {
        @include box-shadow(0 2px 0 0 $color_mortar_approx);
    }
    &:focus span {
        @include box-shadow(0 2px 0 0 $color_mortar_approx);
    }
}

.indent {
    width: 70px;
    float: left;
}

.content {
    margin-left: 70px;
    margin-bottom: 2.2rem;
}

.about-copy {
    margin-bottom: 1.6em;
}

.nav {
    text-transform: none;
    white-space: nowrap;
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        padding: 0 0 0.9375rem;
    }
}

.batsignal {
    width: 40px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    cursor: pointer;
    i {
        cursor: pointer;
        @include transition(all 0.44s ease-in-out);
        @include transform(translateZ(0));
        @include box-shadow(0 0 1px rgba(0, 0, 0, 0));
        @include backface-visibility(hidden);
        position: relative;
        &:before {
            line-height: 34px;
        }
    }
    &:active i {
        opacity: 0.5;
        margin-top: 2px;
        @include transition(all 0s ease-in-out);
    }
}

.batman::selection {
    background: $color_whisper_approx;
    color: 444;
    outline: none;
}

.batman::-moz-selection {
    background: $color_whisper_approx;
    color: 444;
}

.batcave {
    display: none;
    position: relative;
}

.batbelt {
    padding-bottom: $size_column-gutter*6;
    .batarang {
        position: relative;
        cursor: pointer;
        padding-top: $size_column-gutter;
        padding-bottom: $size_column-gutter;
        @include transition(all 0.5s ease-in-out);
        &:before {
            padding-top: 50%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
        @media only screen and (max-width: 38em) {
            &:nth-of-type(even) {
                padding-right: $size_column-gutter/2;
                padding-bottom: 0;
            }
            &:nth-of-type(odd) {
                padding-left: $size_column-gutter/2;
                padding-bottom: 0;
            }
        }
        &:hover,
        &:focus {
            img {
                @include opacity(0.33);
            }
        }
        i {
            position: absolute;
            text-align: center;
            width: 100%;
            margin-top: -10px;
            top: 50%;
            left: 0;
            right: 0;
            font-size: 20px;
            line-height: 1;
            @media only screen and (max-width: 38em) {
                margin-top: -2px;
            }
        }
    }
    .batarang-content-wrapper {
        position: relative;
        @include transition(all 0.5s ease-in-out);
    }
    .batarang-content {
        position: absolute;
        padding-top: $size_column-gutter;
        padding-bottom: $size_column-gutter;
        padding-left: 0 !important;
        padding-right: 0 !important;
        @include opacity(0);
        @include transition(all 0.5s ease-in-out);
        &.revealed {
            position: relative;
            @include opacity(1);
        }
        .name {
            font-weight: 700;
            @media only screen and (max-width: 38em) {
                margin-top: $size_column-gutter;
                padding-left: $size_column-gutter;
                padding-right: $size_column-gutter;
            }
        }
        .description {
            margin-bottom: 0;
            @media only screen and (max-width: 38em) {
                padding-left: $size_column-gutter;
                padding-right: $size_column-gutter;
            }
        }
        .batslider {
            ul {
                margin: 0;
                padding: 0;
            }
        }
    }
    .row {
        margin-left: -$size_column-gutter;
        margin-right: -$size_column-gutter;
    }
    img {
        width: 100%;
        padding: $size_column-gutter;
        background-color: white;
        position: relative;
        z-index: 3;
        @include border-radius(2px);
        @include box-shadow(0 1px 2px -1px #555);
        @include transition(all 0.5s ease-in-out);
    }
}

.batcave-close {
    @extend .batsignal;
    text-align: center;
    z-index: 4;
    margin-top: -9px;
    font-size: 15px;
    i {
        width: 100%;
        line-height: 31px;
    }
    &:hover,
    &:focus {
        color: $color_red_approx;
    }
}

.batnav {
    float: left;
    width: 100%;
    p {
        margin: 0;
    }
}

.space {
    height: 60px;
    width: 100%;
    float: left;
}

.aboutInfo a {
    color: $color_donkey_brown_approx;
    &:hover {
        color: $color_akaroa_approx;
    }
}

.name {
    p {
        font-weight: 700;
    }
    i {
        margin: 0 3px;
    }
}
