meta.foundation-version {
    font-family: "/5.5.0/";
}
meta.foundation-mq-small {
    font-family: "/only screen/";
    width: 0;
}
meta.foundation-mq-small-only {
    font-family: "/only screen and (max-width: 40em)/";
    width: 0;
}
meta.foundation-mq-medium {
    font-family: "/only screen and (min-width:40.063em)/";
    width: 40.063em;
}
meta.foundation-mq-medium-only {
    font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
    width: 40.063em;
}
meta.foundation-mq-large {
    font-family: "/only screen and (min-width:64.063em)/";
    width: 64.063em;
}
meta.foundation-mq-large-only {
    font-family: "/only screen and (min-width:64.063em) and (max-width:90em)/";
    width: 64.063em;
}
meta.foundation-mq-xlarge {
    font-family: "/only screen and (min-width:90.063em)/";
    width: 90.063em;
}
meta.foundation-mq-xlarge-only {
    font-family: "/only screen and (min-width:90.063em) and (max-width:120em)/";
    width: 90.063em;
}
meta.foundation-mq-xxlarge {
    font-family: "/only screen and (min-width:120.063em)/";
    width: 120.063em;
}
meta.foundation-data-attribute-namespace {
    font-family: false;
}

html,
body {
    height: 100%;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    font-size: 100%;
}
body {
    padding: 0;
    margin: 0;
    position: relative;
    cursor: auto;
}
a:hover {
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    -ms-interpolation-mode: bicubic;
}
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
    max-width: none !important;
}
.left {
    float: left !important;
}
.right {
    float: right !important;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.hide {
    display: none !important;
    visibility: hidden;
}
.invisible {
    visibility: hidden;
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img {
    display: inline-block;
    vertical-align: middle;
}
textarea {
    height: auto;
    min-height: 50px;
}
select {
    width: 100%;
}
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 67.5rem;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.row.collapse > .column,
.row.collapse > .columns {
    padding-left: 0;
    padding-right: 0;
}
.row.collapse .row {
    margin-left: 0;
    margin-right: 0;
}
.row .row {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
}
.row .row:before,
.row .row:after {
    content: " ";
    display: table;
}
.row .row:after {
    clear: both;
}
.row .row.collapse {
    width: auto;
    margin: 0;
    max-width: none;
}
.row .row.collapse:before,
.row .row.collapse:after {
    content: " ";
    display: table;
}
.row .row.collapse:after {
    clear: both;
}
.column,
.columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
}
[class*="column"] + [class*="column"]:last-child {
    float: right;
}
[class*="column"] + [class*="column"].end {
    float: left;
}
@media only screen {
    .column,
    .columns {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left;
    }
    .small-1 {
        width: 8.33333%;
    }
    .small-2 {
        width: 16.66667%;
    }
    .small-3 {
        width: 25%;
    }
    .small-4 {
        width: 33.33333%;
    }
    .small-5 {
        width: 41.66667%;
    }
    .small-6 {
        width: 50%;
    }
    .small-7 {
        width: 58.33333%;
    }
    .small-8 {
        width: 66.66667%;
    }
    .small-9 {
        width: 75%;
    }
    .small-10 {
        width: 83.33333%;
    }
    .small-11 {
        width: 91.66667%;
    }
    .small-12 {
        width: 100%;
    }
    .small-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left;
    }
    .column.small-centered,
    .columns.small-centered {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .column.small-uncentered,
    .columns.small-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left;
    }
    .column.small-centered:last-child,
    .columns.small-centered:last-child {
        float: none;
    }
    .column.small-uncentered:last-child,
    .columns.small-uncentered:last-child {
        float: left;
    }
    .column.small-uncentered.opposite,
    .columns.small-uncentered.opposite {
        float: right;
    }
    .row.small-collapse > .column,
    .row.small-collapse > .columns {
        padding-left: 0;
        padding-right: 0;
    }
    .row.small-collapse .row {
        margin-left: 0;
        margin-right: 0;
    }
    .row.small-uncollapse > .column,
    .row.small-uncollapse > .columns {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left;
    }
}

@media only screen and (min-width: 40.063em) {
    .column,
    .columns {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left;
    }
    .medium-1 {
        width: 8.33333%;
    }
    .medium-2 {
        width: 16.66667%;
    }
    .medium-3 {
        width: 25%;
    }
    .medium-4 {
        width: 33.33333%;
    }
    .medium-5 {
        width: 41.66667%;
    }
    .medium-6 {
        width: 50%;
    }
    .medium-7 {
        width: 58.33333%;
    }
    .medium-8 {
        width: 66.66667%;
    }
    .medium-9 {
        width: 75%;
    }
    .medium-10 {
        width: 83.33333%;
    }
    .medium-11 {
        width: 91.66667%;
    }
    .medium-12 {
        width: 100%;
    }
    .medium-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left;
    }
    .column.medium-centered,
    .columns.medium-centered {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .column.medium-uncentered,
    .columns.medium-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left;
    }
    .column.medium-centered:last-child,
    .columns.medium-centered:last-child {
        float: none;
    }
    .column.medium-uncentered:last-child,
    .columns.medium-uncentered:last-child {
        float: left;
    }
    .column.medium-uncentered.opposite,
    .columns.medium-uncentered.opposite {
        float: right;
    }
    .row.medium-collapse > .column,
    .row.medium-collapse > .columns {
        padding-left: 0;
        padding-right: 0;
    }
    .row.medium-collapse .row {
        margin-left: 0;
        margin-right: 0;
    }
    .row.medium-uncollapse > .column,
    .row.medium-uncollapse > .columns {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left;
    }
}

@media only screen and (min-width: 64.063em) {
    .column,
    .columns {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left;
    }
    .large-1 {
        width: 8.33333%;
    }
    .large-2 {
        width: 16.66667%;
    }
    .large-3 {
        width: 25%;
    }
    .large-4 {
        width: 33.33333%;
    }
    .large-5 {
        width: 41.66667%;
    }
    .large-6 {
        width: 50%;
    }
    .large-7 {
        width: 58.33333%;
    }
    .large-8 {
        width: 66.66667%;
    }
    .large-9 {
        width: 75%;
    }
    .large-10 {
        width: 83.33333%;
    }
    .large-11 {
        width: 91.66667%;
    }
    .large-12 {
        width: 100%;
    }
    .large-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left;
    }
    .column.large-centered,
    .columns.large-centered {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .column.large-uncentered,
    .columns.large-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left;
    }
    .column.large-centered:last-child,
    .columns.large-centered:last-child {
        float: none;
    }
    .column.large-uncentered:last-child,
    .columns.large-uncentered:last-child {
        float: left;
    }
    .column.large-uncentered.opposite,
    .columns.large-uncentered.opposite {
        float: right;
    }
    .row.large-collapse > .column,
    .row.large-collapse > .columns {
        padding-left: 0;
        padding-right: 0;
    }
    .row.large-collapse .row {
        margin-left: 0;
        margin-right: 0;
    }
    .row.large-uncollapse > .column,
    .row.large-uncollapse > .columns {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left;
    }
}

.inline-list {
    margin: 0 auto 1.0625rem auto;
    margin-left: -1.375rem;
    margin-right: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.inline-list > li {
    list-style: none;
    float: left;
    margin-left: 1.375rem;
    display: block;
}

.inline-list > li > * {
    display: block;
}

button,
.button {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: #007095;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    color: #FFFFFF;
}

button.secondary,
.button.secondary {
    background-color: #e7e7e7;
    border-color: #b9b9b9;
    color: #333333;
}

button.secondary:hover,
button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus {
    background-color: #b9b9b9;
}

button.secondary:hover,
button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus {
    color: #333333;
}

button.success,
.button.success {
    background-color: #43AC6A;
    border-color: #368a55;
    color: #FFFFFF;
}

button.success:hover,
button.success:focus,
.button.success:hover,
.button.success:focus {
    background-color: #368a55;
}

button.success:hover,
button.success:focus,
.button.success:hover,
.button.success:focus {
    color: #FFFFFF;
}

button.alert,
.button.alert {
    background-color: #f04124;
    border-color: #cf2a0e;
    color: #FFFFFF;
}

button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus {
    background-color: #cf2a0e;
}

button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus {
    color: #FFFFFF;
}

button.warning,
.button.warning {
    background-color: #f08a24;
    border-color: #cf6e0e;
    color: #FFFFFF;
}

button.warning:hover,
button.warning:focus,
.button.warning:hover,
.button.warning:focus {
    background-color: #cf6e0e;
}

button.warning:hover,
button.warning:focus,
.button.warning:hover,
.button.warning:focus {
    color: #FFFFFF;
}

button.info,
.button.info {
    background-color: #a0d3e8;
    border-color: #61b6d9;
    color: #333333;
}

button.info:hover,
button.info:focus,
.button.info:hover,
.button.info:focus {
    background-color: #61b6d9;
}

button.info:hover,
button.info:focus,
.button.info:hover,
.button.info:focus {
    color: #FFFFFF;
}

button.large,
.button.large {
    padding-top: 1.125rem;
    padding-right: 2.25rem;
    padding-bottom: 1.1875rem;
    padding-left: 2.25rem;
    font-size: 1.25rem;
}

button.small,
.button.small {
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem;
}

button.tiny,
.button.tiny {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem;
}

button.expand,
.button.expand {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

button.left-align,
.button.left-align {
    text-align: left;
    text-indent: 0.75rem;
}

button.right-align,
.button.right-align {
    text-align: right;
    padding-right: 0.75rem;
}

button.radius,
.button.radius {
    border-radius: 3px;
}

button.round,
.button.round {
    border-radius: 1000px;
}

button.disabled,
button[disabled],
.button.disabled,
.button[disabled] {
    border-color: #007095;
    color: #FFFFFF;
    cursor: default;
    opacity: 0.7;
    box-shadow: none;
}

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {
    background-color: #007095;
}

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {
    color: #FFFFFF;
}

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {}

button.disabled.secondary,
button[disabled].secondary,
.button.disabled.secondary,
.button[disabled].secondary {
    background-color: #e7e7e7;
    border-color: #b9b9b9;
    color: #333333;
    cursor: default;
    opacity: 0.7;
    box-shadow: none;
}

button.disabled.secondary:hover,
button.disabled.secondary:focus,
button[disabled].secondary:hover,
button[disabled].secondary:focus,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus {
    background-color: #b9b9b9;
}

button.disabled.secondary:hover,
button.disabled.secondary:focus,
button[disabled].secondary:hover,
button[disabled].secondary:focus,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus {
    color: #333333;
}

button.disabled.secondary:hover,
button.disabled.secondary:focus,
button[disabled].secondary:hover,
button[disabled].secondary:focus,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus {
    background-color: #e7e7e7;
}

button.disabled.success,
button[disabled].success,
.button.disabled.success,
.button[disabled].success {
    background-color: #43AC6A;
    border-color: #368a55;
    color: #FFFFFF;
    cursor: default;
    opacity: 0.7;
    box-shadow: none;
}

button.disabled.success:hover,
button.disabled.success:focus,
button[disabled].success:hover,
button[disabled].success:focus,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus {
    background-color: #368a55;
}

button.disabled.success:hover,
button.disabled.success:focus,
button[disabled].success:hover,
button[disabled].success:focus,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus {
    color: #FFFFFF;
}

button.disabled.success:hover,
button.disabled.success:focus,
button[disabled].success:hover,
button[disabled].success:focus,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus {
    background-color: #43AC6A;
}

button.disabled.alert,
button[disabled].alert,
.button.disabled.alert,
.button[disabled].alert {
    background-color: #f04124;
    border-color: #cf2a0e;
    color: #FFFFFF;
    cursor: default;
    opacity: 0.7;
    box-shadow: none;
}

button.disabled.alert:hover,
button.disabled.alert:focus,
button[disabled].alert:hover,
button[disabled].alert:focus,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert:hover,
.button[disabled].alert:focus {
    background-color: #cf2a0e;
}

button.disabled.alert:hover,
button.disabled.alert:focus,
button[disabled].alert:hover,
button[disabled].alert:focus,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert:hover,
.button[disabled].alert:focus {
    color: #FFFFFF;
}

button.disabled.alert:hover,
button.disabled.alert:focus,
button[disabled].alert:hover,
button[disabled].alert:focus,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert:hover,
.button[disabled].alert:focus {
    background-color: #f04124;
}

button.disabled.warning,
button[disabled].warning,
.button.disabled.warning,
.button[disabled].warning {
    background-color: #f08a24;
    border-color: #cf6e0e;
    color: #FFFFFF;
    cursor: default;
    opacity: 0.7;
    box-shadow: none;
}

button.disabled.warning:hover,
button.disabled.warning:focus,
button[disabled].warning:hover,
button[disabled].warning:focus,
.button.disabled.warning:hover,
.button.disabled.warning:focus,
.button[disabled].warning:hover,
.button[disabled].warning:focus {
    background-color: #cf6e0e;
}

button.disabled.warning:hover,
button.disabled.warning:focus,
button[disabled].warning:hover,
button[disabled].warning:focus,
.button.disabled.warning:hover,
.button.disabled.warning:focus,
.button[disabled].warning:hover,
.button[disabled].warning:focus {
    color: #FFFFFF;
}

button.disabled.warning:hover,
button.disabled.warning:focus,
button[disabled].warning:hover,
button[disabled].warning:focus,
.button.disabled.warning:hover,
.button.disabled.warning:focus,
.button[disabled].warning:hover,
.button[disabled].warning:focus {
    background-color: #f08a24;
}

button.disabled.info,
button[disabled].info,
.button.disabled.info,
.button[disabled].info {
    background-color: #a0d3e8;
    border-color: #61b6d9;
    color: #333333;
    cursor: default;
    opacity: 0.7;
    box-shadow: none;
}

button.disabled.info:hover,
button.disabled.info:focus,
button[disabled].info:hover,
button[disabled].info:focus,
.button.disabled.info:hover,
.button.disabled.info:focus,
.button[disabled].info:hover,
.button[disabled].info:focus {
    background-color: #61b6d9;
}

button.disabled.info:hover,
button.disabled.info:focus,
button[disabled].info:hover,
button[disabled].info:focus,
.button.disabled.info:hover,
.button.disabled.info:focus,
.button[disabled].info:hover,
.button[disabled].info:focus {
    color: #FFFFFF;
}

button.disabled.info:hover,
button.disabled.info:focus,
button[disabled].info:hover,
button[disabled].info:focus,
.button.disabled.info:hover,
.button.disabled.info:focus,
.button[disabled].info:hover,
.button[disabled].info:focus {
    background-color: #a0d3e8;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

@media only screen and (min-width: 40.063em) {
    button,
    .button {
        display: inline-block;
    }
}

/* Typography resets */

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}


/* Default Link Styles */

a {
    text-decoration: none;
    line-height: inherit;
}
a:hover,
a:focus {
    color: #0078a0;
}
a img {
    border: none;
}

/* Default paragraph styles */

p {
    text-rendering: optimizeLegibility;
}
p.lead {
    font-size: 1.21875rem;
    line-height: 1.6;
}
p aside {
    font-size: 0.875rem;
    line-height: 1.35;
    font-style: italic;
}

/* Default header styles */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 60%;
    color: #6f6f6f;
    line-height: 0;
}
h1 {
    font-size: 2.125rem;
}
h2 {
    font-size: 1.6875rem;
}
h3 {
    font-size: 1.375rem;
}
h4 {
    font-size: 1.125rem;
}
h5 {
    font-size: 1.125rem;
}
h6 {
    font-size: 1rem;
}
.subheader {
    line-height: 1.4;
    color: #6f6f6f;
    font-weight: normal;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}
hr {
    border: solid #DDDDDD;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25rem 0 1.1875rem;
    height: 0;
}

/* Helpful Typography Defaults */

em,
i {
    font-style: italic;
    line-height: inherit;
}
strong,
b {
    font-weight: bold;
    line-height: inherit;
}
small {
    font-size: 60%;
    line-height: inherit;
}
code,
pre {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
    padding: 0;
}

/* Lists */

ul,
ol,
dl {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    list-style-position: outside;
    font-family: inherit;
}
ul.no-bullet {
    margin-left: 0;
}
ul.no-bullet li ul,
ul.no-bullet li ol {
    margin-left: 1.25rem;
    margin-bottom: 0;
    list-style: none;
}

/* Unordered Lists */

ul li ul,
ul li ol {
    margin-left: 1.25rem;
    margin-bottom: 0;
}
ul.square li ul,
ul.circle li ul,
ul.disc li ul {
    list-style: inherit;
}
ul.square {
    list-style-type: square;
    margin-left: 1.1rem;
}
ul.circle {
    list-style-type: circle;
    margin-left: 1.1rem;
}
ul.disc {
    list-style-type: disc;
    margin-left: 1.1rem;
}
ul.no-bullet {
    list-style: none;
}

/* Ordered Lists */

ol {
    margin-left: 1.4rem;
}
ol li ul,
ol li ol {
    margin-left: 1.25rem;
    margin-bottom: 0;
}

/* Definition Lists */

dl dt {
    margin-bottom: 0.3rem;
    font-weight: bold;
}
dl dd {
    margin-bottom: 0.75rem;
}

/* Abbreviations */

abbr,
acronym {
    text-transform: uppercase;
    font-size: 90%;
    color: #222;
    cursor: help;
}
abbr {
    text-transform: none;
}
abbr[title] {
    border-bottom: 1px dotted #DDDDDD;
}

/* Blockquotes */

blockquote {
    margin: 0 0 1.25rem;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #DDDDDD;
}
blockquote cite {
    display: block;
    font-size: 0.8125rem;
    color: #555555;
}
blockquote cite:before {
    content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited {
    color: #555555;
}
blockquote,
blockquote p {
    line-height: 1.6;
    color: #6f6f6f;
}

/* Microformats */

.vevent .summary {
    font-weight: bold;
}
.vevent abbr {
    cursor: default;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 0 0.0625rem;
}
@media only screen and (min-width: 40.063em) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.4;
    }
    h1 {
        font-size: 2.75rem;
    }
    h2 {
        font-size: 2.3125rem;
    }
    h3 {
        font-size: 1.6875rem;
    }
    h4 {
        font-size: 1.4375rem;
    }
    h5 {
        font-size: 1.125rem;
    }
    h6 {
        font-size: 1rem;
    }
}

/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/

.print-only {
    display: none !important;
}

@media print {
    * {
        background: transparent !important;
        color: #000000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    .hide-on-print {
        display: none !important;
    }
    .print-only {
        display: block !important;
    }
    .hide-for-print {
        display: none !important;
    }
    .show-for-print {
        display: inherit !important;
    }
}

.split.button {
    position: relative;
    padding-right: 5.0625rem;
}
.split.button span {
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: solid 1px;
}
.split.button span:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-style: inset;
    top: 50%;
    left: 50%;
}
.split.button span:active {
    background-color: rgba(0, 0, 0, 0.1);
}
.split.button span {
    border-left-color: rgba(255, 255, 255, 0.5);
}
.split.button span {
    width: 3.09375rem;
}
.split.button span:after {
    border-top-style: solid;
    border-width: 0.375rem;
    top: 48%;
    margin-left: -0.375rem;
}
.split.button span:after {
    border-color: #FFFFFF transparent transparent transparent;
}
.split.button.secondary span {
    border-left-color: rgba(255, 255, 255, 0.5);
}
.split.button.secondary span:after {
    border-color: #FFFFFF transparent transparent transparent;
}
.split.button.alert span {
    border-left-color: rgba(255, 255, 255, 0.5);
}
.split.button.success span {
    border-left-color: rgba(255, 255, 255, 0.5);
}
.split.button.tiny {
    padding-right: 3.75rem;
}
.split.button.tiny span {
    width: 2.25rem;
}
.split.button.tiny span:after {
    border-top-style: solid;
    border-width: 0.375rem;
    top: 48%;
    margin-left: -0.375rem;
}
.split.button.small {
    padding-right: 4.375rem;
}
.split.button.small span {
    width: 2.625rem;
}
.split.button.small span:after {
    border-top-style: solid;
    border-width: 0.4375rem;
    top: 48%;
    margin-left: -0.375rem;
}
.split.button.large {
    padding-right: 5.5rem;
}
.split.button.large span {
    width: 3.4375rem;
}
.split.button.large span:after {
    border-top-style: solid;
    border-width: 0.3125rem;
    top: 48%;
    margin-left: -0.375rem;
}
.split.button.expand {
    padding-left: 2rem;
}
.split.button.secondary span:after {
    border-color: #333333 transparent transparent transparent;
}
.split.button.radius span {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.split.button.round span {
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
}
.label {
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin-bottom: auto;
    padding: 0.25rem 0.5rem 0.25rem;
    font-size: 0.6875rem;
    color: #FFFFFF;
}
.label.radius {
    border-radius: 3px;
}
.label.round {
    border-radius: 1000px;
}
.label.alert {
    background-color: #f04124;
    color: #FFFFFF;
}
.label.warning {
    background-color: #f08a24;
    color: #FFFFFF;
}
.label.success {
    background-color: #43AC6A;
    color: #FFFFFF;
}
.label.secondary {
    background-color: #e7e7e7;
    color: #333333;
}
.label.info {
    background-color: #a0d3e8;
    color: #333333;
}
[class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -0.625rem;
}
[class*="block-grid-"]:before,
[class*="block-grid-"]:after {
    content: " ";
    display: table;
}
[class*="block-grid-"]:after {
    clear: both;
}
[class*="block-grid-"] > li {
    display: block;
    height: auto;
    float: left;
    padding: 0 0.625rem 1.25rem;
}
@media only screen {
    .small-block-grid-1 > li {
        width: 100%;
        list-style: none;
    }
    .small-block-grid-1 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
        clear: both;
    }
    .small-block-grid-2 > li {
        width: 50%;
        list-style: none;
    }
    .small-block-grid-2 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
        clear: both;
    }
    .small-block-grid-3 > li {
        width: 33.33333%;
        list-style: none;
    }
    .small-block-grid-3 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
        clear: both;
    }
    .small-block-grid-4 > li {
        width: 25%;
        list-style: none;
    }
    .small-block-grid-4 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
        clear: both;
    }
    .small-block-grid-5 > li {
        width: 20%;
        list-style: none;
    }
    .small-block-grid-5 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
        clear: both;
    }
    .small-block-grid-6 > li {
        width: 16.66667%;
        list-style: none;
    }
    .small-block-grid-6 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
        clear: both;
    }
    .small-block-grid-7 > li {
        width: 14.28571%;
        list-style: none;
    }
    .small-block-grid-7 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
        clear: both;
    }
    .small-block-grid-8 > li {
        width: 12.5%;
        list-style: none;
    }
    .small-block-grid-8 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
        clear: both;
    }
    .small-block-grid-9 > li {
        width: 11.11111%;
        list-style: none;
    }
    .small-block-grid-9 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
        clear: both;
    }
    .small-block-grid-10 > li {
        width: 10%;
        list-style: none;
    }
    .small-block-grid-10 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
        clear: both;
    }
    .small-block-grid-11 > li {
        width: 9.09091%;
        list-style: none;
    }
    .small-block-grid-11 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
        clear: both;
    }
    .small-block-grid-12 > li {
        width: 8.33333%;
        list-style: none;
    }
    .small-block-grid-12 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
        clear: both;
    }
}

@media only screen and (min-width: 40.063em) {
    .medium-block-grid-1 > li {
        width: 100%;
        list-style: none;
    }
    .medium-block-grid-1 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
        clear: both;
    }
    .medium-block-grid-2 > li {
        width: 50%;
        list-style: none;
    }
    .medium-block-grid-2 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
        clear: both;
    }
    .medium-block-grid-3 > li {
        width: 33.33333%;
        list-style: none;
    }
    .medium-block-grid-3 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
        clear: both;
    }
    .medium-block-grid-4 > li {
        width: 25%;
        list-style: none;
    }
    .medium-block-grid-4 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
        clear: both;
    }
    .medium-block-grid-5 > li {
        width: 20%;
        list-style: none;
    }
    .medium-block-grid-5 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
        clear: both;
    }
    .medium-block-grid-6 > li {
        width: 16.66667%;
        list-style: none;
    }
    .medium-block-grid-6 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
        clear: both;
    }
    .medium-block-grid-7 > li {
        width: 14.28571%;
        list-style: none;
    }
    .medium-block-grid-7 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
        clear: both;
    }
    .medium-block-grid-8 > li {
        width: 12.5%;
        list-style: none;
    }
    .medium-block-grid-8 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-8 > li:nth-of-type(8n+1) {
        clear: both;
    }
    .medium-block-grid-9 > li {
        width: 11.11111%;
        list-style: none;
    }
    .medium-block-grid-9 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-9 > li:nth-of-type(9n+1) {
        clear: both;
    }
    .medium-block-grid-10 > li {
        width: 10%;
        list-style: none;
    }
    .medium-block-grid-10 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-10 > li:nth-of-type(10n+1) {
        clear: both;
    }
    .medium-block-grid-11 > li {
        width: 9.09091%;
        list-style: none;
    }
    .medium-block-grid-11 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-11 > li:nth-of-type(11n+1) {
        clear: both;
    }
    .medium-block-grid-12 > li {
        width: 8.33333%;
        list-style: none;
    }
    .medium-block-grid-12 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-12 > li:nth-of-type(12n+1) {
        clear: both;
    }
}

@media only screen and (min-width: 64.063em) {
    .large-block-grid-1 > li {
        width: 100%;
        list-style: none;
    }
    .large-block-grid-1 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
        clear: both;
    }
    .large-block-grid-2 > li {
        width: 50%;
        list-style: none;
    }
    .large-block-grid-2 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
        clear: both;
    }
    .large-block-grid-3 > li {
        width: 33.33333%;
        list-style: none;
    }
    .large-block-grid-3 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
        clear: both;
    }
    .large-block-grid-4 > li {
        width: 25%;
        list-style: none;
    }
    .large-block-grid-4 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
        clear: both;
    }
    .large-block-grid-5 > li {
        width: 20%;
        list-style: none;
    }
    .large-block-grid-5 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
        clear: both;
    }
    .large-block-grid-6 > li {
        width: 16.66667%;
        list-style: none;
    }
    .large-block-grid-6 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
        clear: both;
    }
    .large-block-grid-7 > li {
        width: 14.28571%;
        list-style: none;
    }
    .large-block-grid-7 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
        clear: both;
    }
    .large-block-grid-8 > li {
        width: 12.5%;
        list-style: none;
    }
    .large-block-grid-8 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
        clear: both;
    }
    .large-block-grid-9 > li {
        width: 11.11111%;
        list-style: none;
    }
    .large-block-grid-9 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
        clear: both;
    }
    .large-block-grid-10 > li {
        width: 10%;
        list-style: none;
    }
    .large-block-grid-10 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
        clear: both;
    }
    .large-block-grid-11 > li {
        width: 9.09091%;
        list-style: none;
    }
    .large-block-grid-11 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
        clear: both;
    }
    .large-block-grid-12 > li {
        width: 8.33333%;
        list-style: none;
    }
    .large-block-grid-12 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
        clear: both;
    }
}

.keystroke,
kbd {
    background-color: #ededed;
    border-color: #dddddd;
    color: #222222;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    font-family: "Consolas", "Menlo", "Courier", monospace;
    font-size: inherit;
    padding: 0.125rem 0.25rem 0;
    border-radius: 3px;
}


/* small displays */

@media only screen {
    .show-for-small-only,
    .show-for-small-up,
    .show-for-small,
    .show-for-small-down,
    .hide-for-medium-only,
    .hide-for-medium-up,
    .hide-for-medium,
    .show-for-medium-down,
    .hide-for-large-only,
    .hide-for-large-up,
    .hide-for-large,
    .show-for-large-down,
    .hide-for-xlarge-only,
    .hide-for-xlarge-up,
    .hide-for-xlarge,
    .show-for-xlarge-down,
    .hide-for-xxlarge-only,
    .hide-for-xxlarge-up,
    .hide-for-xxlarge,
    .show-for-xxlarge-down {
        display: inherit !important;
    }
    .hide-for-small-only,
    .hide-for-small-up,
    .hide-for-small,
    .hide-for-small-down,
    .show-for-medium-only,
    .show-for-medium-up,
    .show-for-medium,
    .hide-for-medium-down,
    .show-for-large-only,
    .show-for-large-up,
    .show-for-large,
    .hide-for-large-down,
    .show-for-xlarge-only,
    .show-for-xlarge-up,
    .show-for-xlarge,
    .hide-for-xlarge-down,
    .show-for-xxlarge-only,
    .show-for-xxlarge-up,
    .show-for-xxlarge,
    .hide-for-xxlarge-down {
        display: none !important;
    }
    .visible-for-small-only,
    .visible-for-small-up,
    .visible-for-small,
    .visible-for-small-down,
    .hidden-for-medium-only,
    .hidden-for-medium-up,
    .hidden-for-medium,
    .visible-for-medium-down,
    .hidden-for-large-only,
    .hidden-for-large-up,
    .hidden-for-large,
    .visible-for-large-down,
    .hidden-for-xlarge-only,
    .hidden-for-xlarge-up,
    .hidden-for-xlarge,
    .visible-for-xlarge-down,
    .hidden-for-xxlarge-only,
    .hidden-for-xxlarge-up,
    .hidden-for-xxlarge,
    .visible-for-xxlarge-down {
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
    }
    .hidden-for-small-only,
    .hidden-for-small-up,
    .hidden-for-small,
    .hidden-for-small-down,
    .visible-for-medium-only,
    .visible-for-medium-up,
    .visible-for-medium,
    .hidden-for-medium-down,
    .visible-for-large-only,
    .visible-for-large-up,
    .visible-for-large,
    .hidden-for-large-down,
    .visible-for-xlarge-only,
    .visible-for-xlarge-up,
    .visible-for-xlarge,
    .hidden-for-xlarge-down,
    .visible-for-xxlarge-only,
    .visible-for-xxlarge-up,
    .visible-for-xxlarge,
    .hidden-for-xxlarge-down {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }
    table.show-for-small-only,
    table.show-for-small-up,
    table.show-for-small,
    table.show-for-small-down,
    table.hide-for-medium-only,
    table.hide-for-medium-up,
    table.hide-for-medium,
    table.show-for-medium-down,
    table.hide-for-large-only,
    table.hide-for-large-up,
    table.hide-for-large,
    table.show-for-large-down,
    table.hide-for-xlarge-only,
    table.hide-for-xlarge-up,
    table.hide-for-xlarge,
    table.show-for-xlarge-down,
    table.hide-for-xxlarge-only,
    table.hide-for-xxlarge-up,
    table.hide-for-xxlarge,
    table.show-for-xxlarge-down {
        display: table !important;
    }
    thead.show-for-small-only,
    thead.show-for-small-up,
    thead.show-for-small,
    thead.show-for-small-down,
    thead.hide-for-medium-only,
    thead.hide-for-medium-up,
    thead.hide-for-medium,
    thead.show-for-medium-down,
    thead.hide-for-large-only,
    thead.hide-for-large-up,
    thead.hide-for-large,
    thead.show-for-large-down,
    thead.hide-for-xlarge-only,
    thead.hide-for-xlarge-up,
    thead.hide-for-xlarge,
    thead.show-for-xlarge-down,
    thead.hide-for-xxlarge-only,
    thead.hide-for-xxlarge-up,
    thead.hide-for-xxlarge,
    thead.show-for-xxlarge-down {
        display: table-header-group !important;
    }
    tbody.show-for-small-only,
    tbody.show-for-small-up,
    tbody.show-for-small,
    tbody.show-for-small-down,
    tbody.hide-for-medium-only,
    tbody.hide-for-medium-up,
    tbody.hide-for-medium,
    tbody.show-for-medium-down,
    tbody.hide-for-large-only,
    tbody.hide-for-large-up,
    tbody.hide-for-large,
    tbody.show-for-large-down,
    tbody.hide-for-xlarge-only,
    tbody.hide-for-xlarge-up,
    tbody.hide-for-xlarge,
    tbody.show-for-xlarge-down,
    tbody.hide-for-xxlarge-only,
    tbody.hide-for-xxlarge-up,
    tbody.hide-for-xxlarge,
    tbody.show-for-xxlarge-down {
        display: table-row-group !important;
    }
    tr.show-for-small-only,
    tr.show-for-small-up,
    tr.show-for-small,
    tr.show-for-small-down,
    tr.hide-for-medium-only,
    tr.hide-for-medium-up,
    tr.hide-for-medium,
    tr.show-for-medium-down,
    tr.hide-for-large-only,
    tr.hide-for-large-up,
    tr.hide-for-large,
    tr.show-for-large-down,
    tr.hide-for-xlarge-only,
    tr.hide-for-xlarge-up,
    tr.hide-for-xlarge,
    tr.show-for-xlarge-down,
    tr.hide-for-xxlarge-only,
    tr.hide-for-xxlarge-up,
    tr.hide-for-xxlarge,
    tr.show-for-xxlarge-down {
        display: table-row;
    }
    th.show-for-small-only,
    td.show-for-small-only,
    th.show-for-small-up,
    td.show-for-small-up,
    th.show-for-small,
    td.show-for-small,
    th.show-for-small-down,
    td.show-for-small-down,
    th.hide-for-medium-only,
    td.hide-for-medium-only,
    th.hide-for-medium-up,
    td.hide-for-medium-up,
    th.hide-for-medium,
    td.hide-for-medium,
    th.show-for-medium-down,
    td.show-for-medium-down,
    th.hide-for-large-only,
    td.hide-for-large-only,
    th.hide-for-large-up,
    td.hide-for-large-up,
    th.hide-for-large,
    td.hide-for-large,
    th.show-for-large-down,
    td.show-for-large-down,
    th.hide-for-xlarge-only,
    td.hide-for-xlarge-only,
    th.hide-for-xlarge-up,
    td.hide-for-xlarge-up,
    th.hide-for-xlarge,
    td.hide-for-xlarge,
    th.show-for-xlarge-down,
    td.show-for-xlarge-down,
    th.hide-for-xxlarge-only,
    td.hide-for-xxlarge-only,
    th.hide-for-xxlarge-up,
    td.hide-for-xxlarge-up,
    th.hide-for-xxlarge,
    td.hide-for-xxlarge,
    th.show-for-xxlarge-down,
    td.show-for-xxlarge-down {
        display: table-cell !important;
    }
}


/* medium displays */

@media only screen and (min-width: 40.063em) {
    .hide-for-small-only,
    .show-for-small-up,
    .hide-for-small,
    .hide-for-small-down,
    .show-for-medium-only,
    .show-for-medium-up,
    .show-for-medium,
    .show-for-medium-down,
    .hide-for-large-only,
    .hide-for-large-up,
    .hide-for-large,
    .show-for-large-down,
    .hide-for-xlarge-only,
    .hide-for-xlarge-up,
    .hide-for-xlarge,
    .show-for-xlarge-down,
    .hide-for-xxlarge-only,
    .hide-for-xxlarge-up,
    .hide-for-xxlarge,
    .show-for-xxlarge-down {
        display: inherit !important;
    }
    .show-for-small-only,
    .hide-for-small-up,
    .show-for-small,
    .show-for-small-down,
    .hide-for-medium-only,
    .hide-for-medium-up,
    .hide-for-medium,
    .hide-for-medium-down,
    .show-for-large-only,
    .show-for-large-up,
    .show-for-large,
    .hide-for-large-down,
    .show-for-xlarge-only,
    .show-for-xlarge-up,
    .show-for-xlarge,
    .hide-for-xlarge-down,
    .show-for-xxlarge-only,
    .show-for-xxlarge-up,
    .show-for-xxlarge,
    .hide-for-xxlarge-down {
        display: none !important;
    }
    .hidden-for-small-only,
    .visible-for-small-up,
    .hidden-for-small,
    .hidden-for-small-down,
    .visible-for-medium-only,
    .visible-for-medium-up,
    .visible-for-medium,
    .visible-for-medium-down,
    .hidden-for-large-only,
    .hidden-for-large-up,
    .hidden-for-large,
    .visible-for-large-down,
    .hidden-for-xlarge-only,
    .hidden-for-xlarge-up,
    .hidden-for-xlarge,
    .visible-for-xlarge-down,
    .hidden-for-xxlarge-only,
    .hidden-for-xxlarge-up,
    .hidden-for-xxlarge,
    .visible-for-xxlarge-down {
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
    }
    .visible-for-small-only,
    .hidden-for-small-up,
    .visible-for-small,
    .visible-for-small-down,
    .hidden-for-medium-only,
    .hidden-for-medium-up,
    .hidden-for-medium,
    .hidden-for-medium-down,
    .visible-for-large-only,
    .visible-for-large-up,
    .visible-for-large,
    .hidden-for-large-down,
    .visible-for-xlarge-only,
    .visible-for-xlarge-up,
    .visible-for-xlarge,
    .hidden-for-xlarge-down,
    .visible-for-xxlarge-only,
    .visible-for-xxlarge-up,
    .visible-for-xxlarge,
    .hidden-for-xxlarge-down {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }
    table.hide-for-small-only,
    table.show-for-small-up,
    table.hide-for-small,
    table.hide-for-small-down,
    table.show-for-medium-only,
    table.show-for-medium-up,
    table.show-for-medium,
    table.show-for-medium-down,
    table.hide-for-large-only,
    table.hide-for-large-up,
    table.hide-for-large,
    table.show-for-large-down,
    table.hide-for-xlarge-only,
    table.hide-for-xlarge-up,
    table.hide-for-xlarge,
    table.show-for-xlarge-down,
    table.hide-for-xxlarge-only,
    table.hide-for-xxlarge-up,
    table.hide-for-xxlarge,
    table.show-for-xxlarge-down {
        display: table !important;
    }
    thead.hide-for-small-only,
    thead.show-for-small-up,
    thead.hide-for-small,
    thead.hide-for-small-down,
    thead.show-for-medium-only,
    thead.show-for-medium-up,
    thead.show-for-medium,
    thead.show-for-medium-down,
    thead.hide-for-large-only,
    thead.hide-for-large-up,
    thead.hide-for-large,
    thead.show-for-large-down,
    thead.hide-for-xlarge-only,
    thead.hide-for-xlarge-up,
    thead.hide-for-xlarge,
    thead.show-for-xlarge-down,
    thead.hide-for-xxlarge-only,
    thead.hide-for-xxlarge-up,
    thead.hide-for-xxlarge,
    thead.show-for-xxlarge-down {
        display: table-header-group !important;
    }
    tbody.hide-for-small-only,
    tbody.show-for-small-up,
    tbody.hide-for-small,
    tbody.hide-for-small-down,
    tbody.show-for-medium-only,
    tbody.show-for-medium-up,
    tbody.show-for-medium,
    tbody.show-for-medium-down,
    tbody.hide-for-large-only,
    tbody.hide-for-large-up,
    tbody.hide-for-large,
    tbody.show-for-large-down,
    tbody.hide-for-xlarge-only,
    tbody.hide-for-xlarge-up,
    tbody.hide-for-xlarge,
    tbody.show-for-xlarge-down,
    tbody.hide-for-xxlarge-only,
    tbody.hide-for-xxlarge-up,
    tbody.hide-for-xxlarge,
    tbody.show-for-xxlarge-down {
        display: table-row-group !important;
    }
    tr.hide-for-small-only,
    tr.show-for-small-up,
    tr.hide-for-small,
    tr.hide-for-small-down,
    tr.show-for-medium-only,
    tr.show-for-medium-up,
    tr.show-for-medium,
    tr.show-for-medium-down,
    tr.hide-for-large-only,
    tr.hide-for-large-up,
    tr.hide-for-large,
    tr.show-for-large-down,
    tr.hide-for-xlarge-only,
    tr.hide-for-xlarge-up,
    tr.hide-for-xlarge,
    tr.show-for-xlarge-down,
    tr.hide-for-xxlarge-only,
    tr.hide-for-xxlarge-up,
    tr.hide-for-xxlarge,
    tr.show-for-xxlarge-down {
        display: table-row;
    }
    th.hide-for-small-only,
    td.hide-for-small-only,
    th.show-for-small-up,
    td.show-for-small-up,
    th.hide-for-small,
    td.hide-for-small,
    th.hide-for-small-down,
    td.hide-for-small-down,
    th.show-for-medium-only,
    td.show-for-medium-only,
    th.show-for-medium-up,
    td.show-for-medium-up,
    th.show-for-medium,
    td.show-for-medium,
    th.show-for-medium-down,
    td.show-for-medium-down,
    th.hide-for-large-only,
    td.hide-for-large-only,
    th.hide-for-large-up,
    td.hide-for-large-up,
    th.hide-for-large,
    td.hide-for-large,
    th.show-for-large-down,
    td.show-for-large-down,
    th.hide-for-xlarge-only,
    td.hide-for-xlarge-only,
    th.hide-for-xlarge-up,
    td.hide-for-xlarge-up,
    th.hide-for-xlarge,
    td.hide-for-xlarge,
    th.show-for-xlarge-down,
    td.show-for-xlarge-down,
    th.hide-for-xxlarge-only,
    td.hide-for-xxlarge-only,
    th.hide-for-xxlarge-up,
    td.hide-for-xxlarge-up,
    th.hide-for-xxlarge,
    td.hide-for-xxlarge,
    th.show-for-xxlarge-down,
    td.show-for-xxlarge-down {
        display: table-cell !important;
    }
}


/* large displays */

@media only screen and (min-width: 64.063em) {
    .hide-for-small-only,
    .show-for-small-up,
    .hide-for-small,
    .hide-for-small-down,
    .hide-for-medium-only,
    .show-for-medium-up,
    .hide-for-medium,
    .hide-for-medium-down,
    .show-for-large-only,
    .show-for-large-up,
    .show-for-large,
    .show-for-large-down,
    .hide-for-xlarge-only,
    .hide-for-xlarge-up,
    .hide-for-xlarge,
    .show-for-xlarge-down,
    .hide-for-xxlarge-only,
    .hide-for-xxlarge-up,
    .hide-for-xxlarge,
    .show-for-xxlarge-down {
        display: inherit !important;
    }
    .show-for-small-only,
    .hide-for-small-up,
    .show-for-small,
    .show-for-small-down,
    .show-for-medium-only,
    .hide-for-medium-up,
    .show-for-medium,
    .show-for-medium-down,
    .hide-for-large-only,
    .hide-for-large-up,
    .hide-for-large,
    .hide-for-large-down,
    .show-for-xlarge-only,
    .show-for-xlarge-up,
    .show-for-xlarge,
    .hide-for-xlarge-down,
    .show-for-xxlarge-only,
    .show-for-xxlarge-up,
    .show-for-xxlarge,
    .hide-for-xxlarge-down {
        display: none !important;
    }
    .hidden-for-small-only,
    .visible-for-small-up,
    .hidden-for-small,
    .hidden-for-small-down,
    .hidden-for-medium-only,
    .visible-for-medium-up,
    .hidden-for-medium,
    .hidden-for-medium-down,
    .visible-for-large-only,
    .visible-for-large-up,
    .visible-for-large,
    .visible-for-large-down,
    .hidden-for-xlarge-only,
    .hidden-for-xlarge-up,
    .hidden-for-xlarge,
    .visible-for-xlarge-down,
    .hidden-for-xxlarge-only,
    .hidden-for-xxlarge-up,
    .hidden-for-xxlarge,
    .visible-for-xxlarge-down {
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
    }
    .visible-for-small-only,
    .hidden-for-small-up,
    .visible-for-small,
    .visible-for-small-down,
    .visible-for-medium-only,
    .hidden-for-medium-up,
    .visible-for-medium,
    .visible-for-medium-down,
    .hidden-for-large-only,
    .hidden-for-large-up,
    .hidden-for-large,
    .hidden-for-large-down,
    .visible-for-xlarge-only,
    .visible-for-xlarge-up,
    .visible-for-xlarge,
    .hidden-for-xlarge-down,
    .visible-for-xxlarge-only,
    .visible-for-xxlarge-up,
    .visible-for-xxlarge,
    .hidden-for-xxlarge-down {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }
    table.hide-for-small-only,
    table.show-for-small-up,
    table.hide-for-small,
    table.hide-for-small-down,
    table.hide-for-medium-only,
    table.show-for-medium-up,
    table.hide-for-medium,
    table.hide-for-medium-down,
    table.show-for-large-only,
    table.show-for-large-up,
    table.show-for-large,
    table.show-for-large-down,
    table.hide-for-xlarge-only,
    table.hide-for-xlarge-up,
    table.hide-for-xlarge,
    table.show-for-xlarge-down,
    table.hide-for-xxlarge-only,
    table.hide-for-xxlarge-up,
    table.hide-for-xxlarge,
    table.show-for-xxlarge-down {
        display: table !important;
    }
    thead.hide-for-small-only,
    thead.show-for-small-up,
    thead.hide-for-small,
    thead.hide-for-small-down,
    thead.hide-for-medium-only,
    thead.show-for-medium-up,
    thead.hide-for-medium,
    thead.hide-for-medium-down,
    thead.show-for-large-only,
    thead.show-for-large-up,
    thead.show-for-large,
    thead.show-for-large-down,
    thead.hide-for-xlarge-only,
    thead.hide-for-xlarge-up,
    thead.hide-for-xlarge,
    thead.show-for-xlarge-down,
    thead.hide-for-xxlarge-only,
    thead.hide-for-xxlarge-up,
    thead.hide-for-xxlarge,
    thead.show-for-xxlarge-down {
        display: table-header-group !important;
    }
    tbody.hide-for-small-only,
    tbody.show-for-small-up,
    tbody.hide-for-small,
    tbody.hide-for-small-down,
    tbody.hide-for-medium-only,
    tbody.show-for-medium-up,
    tbody.hide-for-medium,
    tbody.hide-for-medium-down,
    tbody.show-for-large-only,
    tbody.show-for-large-up,
    tbody.show-for-large,
    tbody.show-for-large-down,
    tbody.hide-for-xlarge-only,
    tbody.hide-for-xlarge-up,
    tbody.hide-for-xlarge,
    tbody.show-for-xlarge-down,
    tbody.hide-for-xxlarge-only,
    tbody.hide-for-xxlarge-up,
    tbody.hide-for-xxlarge,
    tbody.show-for-xxlarge-down {
        display: table-row-group !important;
    }
    tr.hide-for-small-only,
    tr.show-for-small-up,
    tr.hide-for-small,
    tr.hide-for-small-down,
    tr.hide-for-medium-only,
    tr.show-for-medium-up,
    tr.hide-for-medium,
    tr.hide-for-medium-down,
    tr.show-for-large-only,
    tr.show-for-large-up,
    tr.show-for-large,
    tr.show-for-large-down,
    tr.hide-for-xlarge-only,
    tr.hide-for-xlarge-up,
    tr.hide-for-xlarge,
    tr.show-for-xlarge-down,
    tr.hide-for-xxlarge-only,
    tr.hide-for-xxlarge-up,
    tr.hide-for-xxlarge,
    tr.show-for-xxlarge-down {
        display: table-row;
    }
    th.hide-for-small-only,
    td.hide-for-small-only,
    th.show-for-small-up,
    td.show-for-small-up,
    th.hide-for-small,
    td.hide-for-small,
    th.hide-for-small-down,
    td.hide-for-small-down,
    th.hide-for-medium-only,
    td.hide-for-medium-only,
    th.show-for-medium-up,
    td.show-for-medium-up,
    th.hide-for-medium,
    td.hide-for-medium,
    th.hide-for-medium-down,
    td.hide-for-medium-down,
    th.show-for-large-only,
    td.show-for-large-only,
    th.show-for-large-up,
    td.show-for-large-up,
    th.show-for-large,
    td.show-for-large,
    th.show-for-large-down,
    td.show-for-large-down,
    th.hide-for-xlarge-only,
    td.hide-for-xlarge-only,
    th.hide-for-xlarge-up,
    td.hide-for-xlarge-up,
    th.hide-for-xlarge,
    td.hide-for-xlarge,
    th.show-for-xlarge-down,
    td.show-for-xlarge-down,
    th.hide-for-xxlarge-only,
    td.hide-for-xxlarge-only,
    th.hide-for-xxlarge-up,
    td.hide-for-xxlarge-up,
    th.hide-for-xxlarge,
    td.hide-for-xxlarge,
    th.show-for-xxlarge-down,
    td.show-for-xxlarge-down {
        display: table-cell !important;
    }
}


/* xlarge displays */

@media only screen and (min-width: 90.063em) {
    .hide-for-small-only,
    .show-for-small-up,
    .hide-for-small,
    .hide-for-small-down,
    .hide-for-medium-only,
    .show-for-medium-up,
    .hide-for-medium,
    .hide-for-medium-down,
    .hide-for-large-only,
    .show-for-large-up,
    .hide-for-large,
    .hide-for-large-down,
    .show-for-xlarge-only,
    .show-for-xlarge-up,
    .show-for-xlarge,
    .show-for-xlarge-down,
    .hide-for-xxlarge-only,
    .hide-for-xxlarge-up,
    .hide-for-xxlarge,
    .show-for-xxlarge-down {
        display: inherit !important;
    }
    .show-for-small-only,
    .hide-for-small-up,
    .show-for-small,
    .show-for-small-down,
    .show-for-medium-only,
    .hide-for-medium-up,
    .show-for-medium,
    .show-for-medium-down,
    .show-for-large-only,
    .hide-for-large-up,
    .show-for-large,
    .show-for-large-down,
    .hide-for-xlarge-only,
    .hide-for-xlarge-up,
    .hide-for-xlarge,
    .hide-for-xlarge-down,
    .show-for-xxlarge-only,
    .show-for-xxlarge-up,
    .show-for-xxlarge,
    .hide-for-xxlarge-down {
        display: none !important;
    }
    .hidden-for-small-only,
    .visible-for-small-up,
    .hidden-for-small,
    .hidden-for-small-down,
    .hidden-for-medium-only,
    .visible-for-medium-up,
    .hidden-for-medium,
    .hidden-for-medium-down,
    .hidden-for-large-only,
    .visible-for-large-up,
    .hidden-for-large,
    .hidden-for-large-down,
    .visible-for-xlarge-only,
    .visible-for-xlarge-up,
    .visible-for-xlarge,
    .visible-for-xlarge-down,
    .hidden-for-xxlarge-only,
    .hidden-for-xxlarge-up,
    .hidden-for-xxlarge,
    .visible-for-xxlarge-down {
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
    }
    .visible-for-small-only,
    .hidden-for-small-up,
    .visible-for-small,
    .visible-for-small-down,
    .visible-for-medium-only,
    .hidden-for-medium-up,
    .visible-for-medium,
    .visible-for-medium-down,
    .visible-for-large-only,
    .hidden-for-large-up,
    .visible-for-large,
    .visible-for-large-down,
    .hidden-for-xlarge-only,
    .hidden-for-xlarge-up,
    .hidden-for-xlarge,
    .hidden-for-xlarge-down,
    .visible-for-xxlarge-only,
    .visible-for-xxlarge-up,
    .visible-for-xxlarge,
    .hidden-for-xxlarge-down {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }
    table.hide-for-small-only,
    table.show-for-small-up,
    table.hide-for-small,
    table.hide-for-small-down,
    table.hide-for-medium-only,
    table.show-for-medium-up,
    table.hide-for-medium,
    table.hide-for-medium-down,
    table.hide-for-large-only,
    table.show-for-large-up,
    table.hide-for-large,
    table.hide-for-large-down,
    table.show-for-xlarge-only,
    table.show-for-xlarge-up,
    table.show-for-xlarge,
    table.show-for-xlarge-down,
    table.hide-for-xxlarge-only,
    table.hide-for-xxlarge-up,
    table.hide-for-xxlarge,
    table.show-for-xxlarge-down {
        display: table !important;
    }
    thead.hide-for-small-only,
    thead.show-for-small-up,
    thead.hide-for-small,
    thead.hide-for-small-down,
    thead.hide-for-medium-only,
    thead.show-for-medium-up,
    thead.hide-for-medium,
    thead.hide-for-medium-down,
    thead.hide-for-large-only,
    thead.show-for-large-up,
    thead.hide-for-large,
    thead.hide-for-large-down,
    thead.show-for-xlarge-only,
    thead.show-for-xlarge-up,
    thead.show-for-xlarge,
    thead.show-for-xlarge-down,
    thead.hide-for-xxlarge-only,
    thead.hide-for-xxlarge-up,
    thead.hide-for-xxlarge,
    thead.show-for-xxlarge-down {
        display: table-header-group !important;
    }
    tbody.hide-for-small-only,
    tbody.show-for-small-up,
    tbody.hide-for-small,
    tbody.hide-for-small-down,
    tbody.hide-for-medium-only,
    tbody.show-for-medium-up,
    tbody.hide-for-medium,
    tbody.hide-for-medium-down,
    tbody.hide-for-large-only,
    tbody.show-for-large-up,
    tbody.hide-for-large,
    tbody.hide-for-large-down,
    tbody.show-for-xlarge-only,
    tbody.show-for-xlarge-up,
    tbody.show-for-xlarge,
    tbody.show-for-xlarge-down,
    tbody.hide-for-xxlarge-only,
    tbody.hide-for-xxlarge-up,
    tbody.hide-for-xxlarge,
    tbody.show-for-xxlarge-down {
        display: table-row-group !important;
    }
    tr.hide-for-small-only,
    tr.show-for-small-up,
    tr.hide-for-small,
    tr.hide-for-small-down,
    tr.hide-for-medium-only,
    tr.show-for-medium-up,
    tr.hide-for-medium,
    tr.hide-for-medium-down,
    tr.hide-for-large-only,
    tr.show-for-large-up,
    tr.hide-for-large,
    tr.hide-for-large-down,
    tr.show-for-xlarge-only,
    tr.show-for-xlarge-up,
    tr.show-for-xlarge,
    tr.show-for-xlarge-down,
    tr.hide-for-xxlarge-only,
    tr.hide-for-xxlarge-up,
    tr.hide-for-xxlarge,
    tr.show-for-xxlarge-down {
        display: table-row;
    }
    th.hide-for-small-only,
    td.hide-for-small-only,
    th.show-for-small-up,
    td.show-for-small-up,
    th.hide-for-small,
    td.hide-for-small,
    th.hide-for-small-down,
    td.hide-for-small-down,
    th.hide-for-medium-only,
    td.hide-for-medium-only,
    th.show-for-medium-up,
    td.show-for-medium-up,
    th.hide-for-medium,
    td.hide-for-medium,
    th.hide-for-medium-down,
    td.hide-for-medium-down,
    th.hide-for-large-only,
    td.hide-for-large-only,
    th.show-for-large-up,
    td.show-for-large-up,
    th.hide-for-large,
    td.hide-for-large,
    th.hide-for-large-down,
    td.hide-for-large-down,
    th.show-for-xlarge-only,
    td.show-for-xlarge-only,
    th.show-for-xlarge-up,
    td.show-for-xlarge-up,
    th.show-for-xlarge,
    td.show-for-xlarge,
    th.show-for-xlarge-down,
    td.show-for-xlarge-down,
    th.hide-for-xxlarge-only,
    td.hide-for-xxlarge-only,
    th.hide-for-xxlarge-up,
    td.hide-for-xxlarge-up,
    th.hide-for-xxlarge,
    td.hide-for-xxlarge,
    th.show-for-xxlarge-down,
    td.show-for-xxlarge-down {
        display: table-cell !important;
    }
}


/* xxlarge displays */

@media only screen and (min-width: 120.063em) {
    .hide-for-small-only,
    .show-for-small-up,
    .hide-for-small,
    .hide-for-small-down,
    .hide-for-medium-only,
    .show-for-medium-up,
    .hide-for-medium,
    .hide-for-medium-down,
    .hide-for-large-only,
    .show-for-large-up,
    .hide-for-large,
    .hide-for-large-down,
    .hide-for-xlarge-only,
    .show-for-xlarge-up,
    .hide-for-xlarge,
    .hide-for-xlarge-down,
    .show-for-xxlarge-only,
    .show-for-xxlarge-up,
    .show-for-xxlarge,
    .show-for-xxlarge-down {
        display: inherit !important;
    }
    .show-for-small-only,
    .hide-for-small-up,
    .show-for-small,
    .show-for-small-down,
    .show-for-medium-only,
    .hide-for-medium-up,
    .show-for-medium,
    .show-for-medium-down,
    .show-for-large-only,
    .hide-for-large-up,
    .show-for-large,
    .show-for-large-down,
    .show-for-xlarge-only,
    .hide-for-xlarge-up,
    .show-for-xlarge,
    .show-for-xlarge-down,
    .hide-for-xxlarge-only,
    .hide-for-xxlarge-up,
    .hide-for-xxlarge,
    .hide-for-xxlarge-down {
        display: none !important;
    }
    .hidden-for-small-only,
    .visible-for-small-up,
    .hidden-for-small,
    .hidden-for-small-down,
    .hidden-for-medium-only,
    .visible-for-medium-up,
    .hidden-for-medium,
    .hidden-for-medium-down,
    .hidden-for-large-only,
    .visible-for-large-up,
    .hidden-for-large,
    .hidden-for-large-down,
    .hidden-for-xlarge-only,
    .visible-for-xlarge-up,
    .hidden-for-xlarge,
    .hidden-for-xlarge-down,
    .visible-for-xxlarge-only,
    .visible-for-xxlarge-up,
    .visible-for-xxlarge,
    .visible-for-xxlarge-down {
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
    }
    .visible-for-small-only,
    .hidden-for-small-up,
    .visible-for-small,
    .visible-for-small-down,
    .visible-for-medium-only,
    .hidden-for-medium-up,
    .visible-for-medium,
    .visible-for-medium-down,
    .visible-for-large-only,
    .hidden-for-large-up,
    .visible-for-large,
    .visible-for-large-down,
    .visible-for-xlarge-only,
    .hidden-for-xlarge-up,
    .visible-for-xlarge,
    .visible-for-xlarge-down,
    .hidden-for-xxlarge-only,
    .hidden-for-xxlarge-up,
    .hidden-for-xxlarge,
    .hidden-for-xxlarge-down {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }
    table.hide-for-small-only,
    table.show-for-small-up,
    table.hide-for-small,
    table.hide-for-small-down,
    table.hide-for-medium-only,
    table.show-for-medium-up,
    table.hide-for-medium,
    table.hide-for-medium-down,
    table.hide-for-large-only,
    table.show-for-large-up,
    table.hide-for-large,
    table.hide-for-large-down,
    table.hide-for-xlarge-only,
    table.show-for-xlarge-up,
    table.hide-for-xlarge,
    table.hide-for-xlarge-down,
    table.show-for-xxlarge-only,
    table.show-for-xxlarge-up,
    table.show-for-xxlarge,
    table.show-for-xxlarge-down {
        display: table !important;
    }
    thead.hide-for-small-only,
    thead.show-for-small-up,
    thead.hide-for-small,
    thead.hide-for-small-down,
    thead.hide-for-medium-only,
    thead.show-for-medium-up,
    thead.hide-for-medium,
    thead.hide-for-medium-down,
    thead.hide-for-large-only,
    thead.show-for-large-up,
    thead.hide-for-large,
    thead.hide-for-large-down,
    thead.hide-for-xlarge-only,
    thead.show-for-xlarge-up,
    thead.hide-for-xlarge,
    thead.hide-for-xlarge-down,
    thead.show-for-xxlarge-only,
    thead.show-for-xxlarge-up,
    thead.show-for-xxlarge,
    thead.show-for-xxlarge-down {
        display: table-header-group !important;
    }
    tbody.hide-for-small-only,
    tbody.show-for-small-up,
    tbody.hide-for-small,
    tbody.hide-for-small-down,
    tbody.hide-for-medium-only,
    tbody.show-for-medium-up,
    tbody.hide-for-medium,
    tbody.hide-for-medium-down,
    tbody.hide-for-large-only,
    tbody.show-for-large-up,
    tbody.hide-for-large,
    tbody.hide-for-large-down,
    tbody.hide-for-xlarge-only,
    tbody.show-for-xlarge-up,
    tbody.hide-for-xlarge,
    tbody.hide-for-xlarge-down,
    tbody.show-for-xxlarge-only,
    tbody.show-for-xxlarge-up,
    tbody.show-for-xxlarge,
    tbody.show-for-xxlarge-down {
        display: table-row-group !important;
    }
    tr.hide-for-small-only,
    tr.show-for-small-up,
    tr.hide-for-small,
    tr.hide-for-small-down,
    tr.hide-for-medium-only,
    tr.show-for-medium-up,
    tr.hide-for-medium,
    tr.hide-for-medium-down,
    tr.hide-for-large-only,
    tr.show-for-large-up,
    tr.hide-for-large,
    tr.hide-for-large-down,
    tr.hide-for-xlarge-only,
    tr.show-for-xlarge-up,
    tr.hide-for-xlarge,
    tr.hide-for-xlarge-down,
    tr.show-for-xxlarge-only,
    tr.show-for-xxlarge-up,
    tr.show-for-xxlarge,
    tr.show-for-xxlarge-down {
        display: table-row;
    }
    th.hide-for-small-only,
    td.hide-for-small-only,
    th.show-for-small-up,
    td.show-for-small-up,
    th.hide-for-small,
    td.hide-for-small,
    th.hide-for-small-down,
    td.hide-for-small-down,
    th.hide-for-medium-only,
    td.hide-for-medium-only,
    th.show-for-medium-up,
    td.show-for-medium-up,
    th.hide-for-medium,
    td.hide-for-medium,
    th.hide-for-medium-down,
    td.hide-for-medium-down,
    th.hide-for-large-only,
    td.hide-for-large-only,
    th.show-for-large-up,
    td.show-for-large-up,
    th.hide-for-large,
    td.hide-for-large,
    th.hide-for-large-down,
    td.hide-for-large-down,
    th.hide-for-xlarge-only,
    td.hide-for-xlarge-only,
    th.show-for-xlarge-up,
    td.show-for-xlarge-up,
    th.hide-for-xlarge,
    td.hide-for-xlarge,
    th.hide-for-xlarge-down,
    td.hide-for-xlarge-down,
    th.show-for-xxlarge-only,
    td.show-for-xxlarge-only,
    th.show-for-xxlarge-up,
    td.show-for-xxlarge-up,
    th.show-for-xxlarge,
    td.show-for-xxlarge,
    th.show-for-xxlarge-down,
    td.show-for-xxlarge-down {
        display: table-cell !important;
    }
}


/* Orientation targeting */

.show-for-landscape,
.hide-for-portrait {
    display: inherit !important;
}

.hide-for-landscape,
.show-for-portrait {
    display: none !important;
}


/* Specific visibility for tables */

table.hide-for-landscape,
table.show-for-portrait {
    display: table !important;
}

thead.hide-for-landscape,
thead.show-for-portrait {
    display: table-header-group !important;
}

tbody.hide-for-landscape,
tbody.show-for-portrait {
    display: table-row-group !important;
}

tr.hide-for-landscape,
tr.show-for-portrait {
    display: table-row !important;
}

td.hide-for-landscape,
td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
    display: table-cell !important;
}

@media only screen and (orientation: landscape) {
    .show-for-landscape,
    .hide-for-portrait {
        display: inherit !important;
    }
    .hide-for-landscape,
    .show-for-portrait {
        display: none !important;
    }
    /* Specific visibility for tables */
    table.show-for-landscape,
    table.hide-for-portrait {
        display: table !important;
    }
    thead.show-for-landscape,
    thead.hide-for-portrait {
        display: table-header-group !important;
    }
    tbody.show-for-landscape,
    tbody.hide-for-portrait {
        display: table-row-group !important;
    }
    tr.show-for-landscape,
    tr.hide-for-portrait {
        display: table-row !important;
    }
    td.show-for-landscape,
    td.hide-for-portrait,
    th.show-for-landscape,
    th.hide-for-portrait {
        display: table-cell !important;
    }
}

@media only screen and (orientation: portrait) {
    .show-for-portrait,
    .hide-for-landscape {
        display: inherit !important;
    }
    .hide-for-portrait,
    .show-for-landscape {
        display: none !important;
    }
    /* Specific visibility for tables */
    table.show-for-portrait,
    table.hide-for-landscape {
        display: table !important;
    }
    thead.show-for-portrait,
    thead.hide-for-landscape {
        display: table-header-group !important;
    }
    tbody.show-for-portrait,
    tbody.hide-for-landscape {
        display: table-row-group !important;
    }
    tr.show-for-portrait,
    tr.hide-for-landscape {
        display: table-row !important;
    }
    td.show-for-portrait,
    td.hide-for-landscape,
    th.show-for-portrait,
    th.hide-for-landscape {
        display: table-cell !important;
    }
}


/* Touch-enabled device targeting */

.show-for-touch {
    display: none !important;
}

.hide-for-touch {
    display: inherit !important;
}

.touch .show-for-touch {
    display: inherit !important;
}

.touch .hide-for-touch {
    display: none !important;
}


/* Specific visibility for tables */

table.hide-for-touch {
    display: table !important;
}

.touch table.show-for-touch {
    display: table !important;
}

thead.hide-for-touch {
    display: table-header-group !important;
}

.touch thead.show-for-touch {
    display: table-header-group !important;
}

tbody.hide-for-touch {
    display: table-row-group !important;
}

.touch tbody.show-for-touch {
    display: table-row-group !important;
}

tr.hide-for-touch {
    display: table-row !important;
}

.touch tr.show-for-touch {
    display: table-row !important;
}

td.hide-for-touch {
    display: table-cell !important;
}

.touch td.show-for-touch {
    display: table-cell !important;
}

th.hide-for-touch {
    display: table-cell !important;
}

.touch th.show-for-touch {
    display: table-cell !important;
}


/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/

.print-only {
    display: none !important;
}

@media print {
    * {
        background: transparent !important;
        color: #000000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    .show-for-print {
        display: block;
    }
    .hide-for-print {
        display: none;
    }
    table.show-for-print {
        display: table !important;
    }
    thead.show-for-print {
        display: table-header-group !important;
    }
    tbody.show-for-print {
        display: table-row-group !important;
    }
    tr.show-for-print {
        display: table-row !important;
    }
    td.show-for-print {
        display: table-cell !important;
    }
    th.show-for-print {
        display: table-cell !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    .hide-on-print {
        display: none !important;
    }
    .print-only {
        display: block !important;
    }
    .hide-for-print {
        display: none !important;
    }
    .show-for-print {
        display: inherit !important;
    }
}


/* Print visibility */

@media print {
    .show-for-print {
        display: block;
    }
    .hide-for-print {
        display: none;
    }
    table.show-for-print {
        display: table !important;
    }
    thead.show-for-print {
        display: table-header-group !important;
    }
    tbody.show-for-print {
        display: table-row-group !important;
    }
    tr.show-for-print {
        display: table-row !important;
    }
    td.show-for-print {
        display: table-cell !important;
    }
    th.show-for-print {
        display: table-cell !important;
    }
}
