.flexslider {
	.slides {
		margin: 0;
		float: left;
	}
	// .flex-control-nav {
	// 	display: none;
	// }
	// .flex-direction-nav {
	// 	width: 100%;
	// 	text-align: center;
	// 	list-style: none;
	// 	li {
	// 		display: inline-block;
	// 		margin: $size__margin;
	// 	}
	// }
}
